/* $Id: fusion-starter-style.css,v 1.1.2.7 2010/07/04 01:51:31 sociotech Exp $ */

/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-weight:normal;
}
h1 {font-size: 20px;}
h2 {font-size: 16px;}
h3 {}
h4 {}
h5 {}
h6 {}


/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
  color: #1D1A16;
  text-decoration: underline;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration: none;
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  line-height: 150%;
}

.footer-message {
  font-size: 90%;
}

.logged-in a#join-now {display:none !important;}


/* HTML Elements
-------------------------------------------------------------- */
/* always force a scrollbar in non-IE */
html {
  background-color: #F0EEEA;
  overflow-y: scroll;
}

body {
	color:#363227;
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
}
#logo img {
  display: block;
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
}

/* Typography for site slogan */
#slogan {
}


div.full-width {
     -moz-box-shadow: 0 0 10px #444; /* FF3.5+ */
  -webkit-box-shadow: 0 0 10px #444; /* Saf3.0+, Chrome */
          box-shadow: 0 0 10px #444; /* Opera 10.5, IE9 */
}

/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
  width: 960px;
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
background: #2F2617 url(../images/bg_header.png) repeat-x top left;
}
#header-site-info {
  margin: 0;
}

.header-group {
  background: transparent url(../images/bg_map.png) no-repeat top right;
  height: auto;
  min-height: 107px;
}
* html .header-group {height:107px;}

/* Header Top region which sits above the header */
/* Works well with inline login or inline menu block style */
.header-top-wrapper {
}

.header-top {
}


/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
.primary-menu-wrapper {
  background: #302C23 url(../images/bg_primarylinks.png) repeat-x top left;
  border-top: 1px solid #2C2D28;
  /*border-bottom: 1px solid #46433C;*/
}
.primary-menu {
  font-size: 12px;
}
.primary-menu-inner {
  padding: 0 10px 0 15px;
}

/* styles for Superfish primary menu */
.primary-menu-inner ul.sf-menu {
  margin: 0;
	width: 100%;
}

/* Link style for top level menu items, add padding here */
.primary-menu-inner ul.sf-menu a,
.primary-menu-inner ul.sf-menu a:visited  {
  color: #FFF;
  text-transform: uppercase;
  border-width:0 1px;
  border-style: none solid;
  border-color: transparent;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:active,
.primary-menu-inner ul.sf-menu a:focus {
  /*background-color: #464131;*/
  color:#FFF;
  border-color: transparent #2C2D28;
}
.primary-menu-inner ul.sf-menu a.active {
  /*background-color: #464131;*/
}

/* These are the top level menu items, add border-right here for separators */
.primary-menu-inner ul.sf-menu li {
	line-height: 1;
	margin-right: 20px;
}

.primary-menu-inner ul.sf-menu li a:hover {
  color: #585045;
}

.primary-menu-inner ul.sf-menu li.active-trail {
	/*background-color: #464131;*/
  color: #585045;  /* chocolate brown */
}

.primary-menu-inner ul.sf-menu li.last {
	margin-right: 0;
}
/* Add border-right: 0; here to remove separator on last menu item */
.primary-menu-inner ul.sf-menu li.last {
	float: right;
}

/* Style for container of dropdown, add background or border */
.primary-menu-inner ul.sf-menu ul {
  border: 1px solid #DDB426;
  padding: 0px 3px;
	background-color: #302C23;
}

/* Style for individual dropdown menu items, add border-bottom for separators */
.primary-menu-inner ul.sf-menu li li {
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #DDB426;
	margin-right: 0;
}

.primary-menu-inner ul.sf-menu li li.last {
  border-bottom: 0px;
}

.primary-menu-inner ul.sf-menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
.primary-menu-inner ul.sf-menu li ul li a:hover,
.primary-menu-inner ul.sf-menu li ul li.sfHover {
  background-color: #464131;
  color: #ffffff;
}


/* My Profile & Join Now orange button links */
.primary-menu-inner ul.sf-menu li a.user-orange {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
  background: #FA6C01 url(../images/bg_button_user.png) repeat-x 0 0;
  border-left: 0 none;
  border-right: 0 none;
}

/*
 * Hide the Purchase membership fieldset on /user page
 * because ms_membership_user_membership_page_access_test($account)
 * denies access to page unless show_user_links is turned on (but
 * we don't want the purchase links available)
 */
.purchase-membership {
   display: none;
 }

/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
.secondary-menu {
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {
}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
}

/* Add border-right: 0; here to remove right separator on last menu item */
.secondary-menu-inner ul.links li.last {
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  padding: 3px;
}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus,
.secondary-menu-inner ul.links li a.active {
}


/* Header - Search
-------------------------------------------------------------- */
.search-box {
}

.search-box-inner {
}

.search-box-inner form#search-theme-form {
}

.search-box-inner input#edit-search-theme-form-header {
}


/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {
}

.preface-top {
}

.preface-top-inner {
}

.preface-bottom {
}

.preface-bottom-inner {
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
background: #FFFFFF url(../images/bg_main.png) no-repeat center top;
}
.main-inner {}
.not-front .main-inner {}


/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-last {
}


/* Content Regions
-------------------------------------------------------------- */
.content-top {
}

.content {
}

.content-inner {
}
.not-front.layout-main #content-inner-inner,
.not-front.panels:not.layout-main-last #content-inner-inner{padding-left: 18px;}
.not-front.panels:not.layout-main #content-inner-inner {padding-right: 150px;}

.content-bottom {
}

/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-top {
}

.postscript-top-inner {
}

.postscript-bottom-wrapper {
	background-color: #444444;
	color: #FFFFFF;
}

.postscript-bottom {
}

.postscript-bottom-inner {
}

.footer-wrapper {
	/*background: #595240 url(../images/bg_footer.png) repeat-x left bottom;*/
     -moz-box-shadow: 0 0 0 transparent !important; /* FF3.5+ */
  -webkit-box-shadow: 0 0 0 transparent !important; /* Saf3.0+, Chrome */
          box-shadow: 0 0 0 transparent !important; /* Opera 10.5, IE9 */
}

.footer {
	/*color: #FFFFFF;*/
	font-size: smaller !important;
	text-align: center;
  overflow: visible;
}
.footer .block-menu_block {
	float: none;
	margin-bottom: 0.5em;
}
.footer .block-menu_block ul.menu {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
.footer .block-menu_block ul.menu li {
	/*border-left: 1px solid #FFFFFF;*/
  border-left: 1px solid #595240;
	display: inline;
	list-style: none outside none;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.footer .block-menu_block ul.menu li.first {
	border-left: 0 none;
	padding-left: 0;
}
.footer .block-menu_block ul.menu li.last {padding-right:0;}
.footer .block-menu_block ul.menu li a {
	/*color: #FFF;*/
	text-decoration:none;
}
.footer .block-menu_block ul.menu li a:hover {
	text-decoration: underline;
}
.footer .block-menu_block ul.menu li a.active {}


.footer-inner {
	padding: 1em 0;
}

.footer-message-wrapper {
     -moz-box-shadow: 0 0 0 transparent !important; /* FF3.5+ */
  -webkit-box-shadow: 0 0 0 transparent !important; /* Saf3.0+, Chrome */
          box-shadow: 0 0 0 transparent !important; /* Opera 10.5, IE9 */
}

.footer-message {
}

.footer-message-inner {
}

.footer-message-text {
}
#copyright {
	line-height: 1.1;
	padding: 0.5em 0;
}
#copyright span {
	border-left: 1px solid #595240;
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#copyright a {
	/*color: #FFF;*/
	text-decoration:none;
}
#copyright a:hover {
	text-decoration: underline;
}



/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
	color: #F7860C;
  margin: 0em 0 0.5em;
}


/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
  margin-bottom: 8px !important;
}

.submitted, .submitted * {
  color:#999 !important;
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help,
div.error {
	background-color: #FAF0D1;
	border-width: 0;
	color: #FD8700;
}

.content-messages {
  margin-bottom: 0px;
  margin-top: 20px;
}

div.content-messages div.messages a,
div.content-help div.help a {
	color: #FD8700;
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
/*	background-color: #FAE1D1;
	color: #FD5900;*/
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
}


/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left; /* LTR */
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left; /* LTR */
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left; /* LTR */
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left; /* LTR */
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #000;
  color: #555;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
}


/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */





/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
  background-color: #fff;
}

.comments div.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Professional Profiles */
/*-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

.profile-container {
  width: 850px;
}

.profile-left-div {
  display: block;
  float: left;
  width: 100px;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.profile-middle-div {
  display: block;
  float: left;
  height: auto;
  width: 300px;
  margin: 0px;
  padding: 0px;
}

.profile-right-div {
  display: block;
  float: left;
  height: auto;
  width: 240px;
  margin: 0 0 0 15px;
  padding: 0px;
}

.profile-container .profile-middle-div table,
.profile-container .profile-middle-div tbody {
  border-style: none;
}

.profile-container .profile-right-div p:first-child {
  margin-top: 0px;
}

.profile-container td {
  padding-top: 0px;
  vertical-align: top;
}

.profile-middle-div .item-list {
  position: relative;
  float: left;
  margin: 15px 0 0 100px;

}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}

/* Gradient background and rule around */
.proequest-block .inner {
	background:#FFF url(../images/bg_block.png) repeat-x top left;
	border: 1px solid #CCCAC1;
	padding: 10px 13px 5px;
}
.proequest-block h2.block-title {}
.proequest-block .content {}
/* Gradient orange background */
.proequest-block-orange .inner {background:#FF6E00 url(../images/bg_joinnow.png) no-repeat bottom left;color:#FFF;}
.proequest-block-orange h2.block-title {
	font-size: 16px;
	margin: 0;
	padding: 10px 20px 0;
}
.proequest-block-orange .content {
  background:#FF6E00 url(../images/bg_joinnow.png) no-repeat bottom right;
	font-size: 18px;
	margin-left: 20px;
	padding: 1em 20px 0 0;
}
.proequest-block-orange .content :first-child {margin-top:0;}
.proequest-block-orange a {color:#FFF;text-decoration:none;outline: 0 none;}

.profile-left-block {
  float: left;
  width: 500px;
}

.profile-left-block img {
  display: inline;
  float: left;
  margin: 0px 5px;
}


/* Skinr
/-------------------------------------------------------------- */

/* This is a sample Skinr style to get you started. See fusion_starter.info */
.fusion-example-stylename .inner {
  /* When setting the background color, also set foreground colors for text and
    links, even if it's similar to the default body style. Remember, this block
    style may be used in regions with other foreground colors, thus making text
    invisible if left unspecified */
  background-color: #ccc;
  color: #000;
  /* All padding and borders should go on the .inner div, so as not to break
    the widths of the grid */
  border: 3px solid #000;
  padding: 10px;
}


/* Cycle slideshow */
.node-type-cycle { margin-bottom: 0 !important;margin-top: 10px; }
.cycle {width:700px;height:300px;overflow:hidden;}
.cycle .pager {}
.cycle .slide {position:relative;}
.cycle img.imagecache {display:block;}
.cycle .slide-text {
	-moz-box-shadow: 5px 5px 10px #444444;
	-webkit-box-shadow: 5px 5px 10px #444444;
	box-shadow: 5px 5px 10px #444444;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.7);
	left: 70px;
	padding: 20px;
	position: absolute;
	top: 80px;
	width: 400px;
}
.cycle .slide-credits {
	bottom: 0.5em;
	color: #F0EEEA;
	position: absolute;
	right: 10px;
	text-shadow: 1px 1px 2px #000000; /* FF3.5+, Opera 9+, Saf1+, Chrome */
}
.cycle .slide-text * {}

.HeroMsg {
  font-size:24px;line-height:1.35;text-transform:none;
}
.HeroLink {
  font-size:16px;line-height:auto;
}
.HeroLink a {
  color:#302D22;
}

#conditional-field-horse-discipline {
}
#conditional-field-horse-discipline .form-item {}
#conditional-field-horse-discipline .form-item label {display:none;}
#conditional-field-horse-discipline .form-item select {}
#conditional-field-horse-discipline .form-item .description {}

#conditional-field-horse-discipline .form-checkboxes .form-item {float: left; margin-right: 1em;}
* html #conditional-field-horse-discipline .form-checkboxes .form-item {height:3em;}
#conditional-field-horse-discipline .form-checkboxes .form-item label {display:inline;}

/* ALL */
.vertical-tabs-group_horse_discipline .conditional-field {float: left;}
.vertical-tabs-group_horse_discipline .form-item label {}
.vertical-tabs-group_horse_discipline .form-item select {height: 6.5em; width: 180px;}
.vertical-tabs-group_horse_discipline .form-item .description {}
/* Hunters */
#conditional-field-horse-hunters {}
#conditional-field-horse-hunters .form-item {}
#conditional-field-horse-hunters .form-item label {}
#conditional-field-horse-hunters .form-item select {}
#conditional-field-horse-hunters .form-item .description {}
/* Jumper */
#conditional-field-horse-jumpers {}
#conditional-field-horse-jumpers .form-item {}
#conditional-field-horse-jumpers .form-item label {}
#conditional-field-horse-jumpers .form-item select {}
#conditional-field-horse-jumpers .form-item .description {}
/* Equitation */
#conditional-field-horse-equitation {}
#conditional-field-horse-equitation .form-item {}
#conditional-field-horse-equitation .form-item label {}
#conditional-field-horse-equitation .form-item select {}
#conditional-field-horse-equitation .form-item .description {}
/* Ponies */
#conditional-field-horse-ponies {}
#conditional-field-horse-ponies .form-item {}
#conditional-field-horse-ponies .form-item label {}
#conditional-field-horse-ponies .form-item select {}
#conditional-field-horse-ponies .form-item .description {}
/* Eventer */
#conditional-field-horse-eventer {}
#conditional-field-horse-eventer .form-item {}
#conditional-field-horse-eventer .form-item label {}
#conditional-field-horse-eventer .form-item select {}
#conditional-field-horse-eventer .form-item .description {}
/* Dressage */
#conditional-field-horse-dressage {}
#conditional-field-horse-dressage .form-item {}
#conditional-field-horse-dressage .form-item label {}
#conditional-field-horse-dressage .form-item select {}
#conditional-field-horse-dressage .form-item .description {}

a.ckeditor_links {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #D3D3D3;
  border: 1px solid #DDDDDD;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
  outline: 0 none;
  padding: 3px 0.5em;
  text-decoration: none;
}

#content-region ul.tips {
	border: 1px solid #DDDDDD;
	color: #AAAAAA;
	margin: -14px 0 0 !important;
	padding: 0.5em 0;
	width: 95%;
}
#content-region ul.tips li {margin-left: 2em;}



.emvideo-thumbnail-replacement span {
	display:block;
	background: transparent url(../images/play_large.png) no-repeat center center;
	position:absolute;
	left:0;
	top:0;
	width:120px;
	height:90px;
}
.emvideo-thumbnail-replacement span:hover {background-position:center;}



/*
 * node-horse template
 */
.node-type-horse {}
.node-type-horse .inner {}
.node-type-horse .content h3.title {}
.horse-main {margin-bottom:1em;}
.horse-details {float: left;width: 260px;}
.horse-details ul {margin: 0;padding: 0;}
.horse-details ul li {
	/*color: #363227;*/
	font-weight: bold;
	line-height: 1.2;
	list-style:none none;
	/*margin: 0 0 0.5em;*/
	padding: 0 0 0 6em;
	position: relative;
}
.horse-details ul li span {
	left: 0;
	position: absolute;
	top: 0;
}
.horse-details ul li span,
.horse-details ul li em {font-weight: normal;}
.horse-image {}
.horse-image img {display: block;float: right;}
.horse-media {margin-bottom:1em;}
.horse-media ul {margin: 0;padding: 0;}
.horse-media ul li {list-style:none none;float:left;margin:0 10px 10px 0;width:120px;height:90px;}
.horse-media ul li:first-child {margin-left:0;}
.horse-info {}
.horse-desc {float: left;width: 350px;}
.horse-seller {
	float: right;
	width: 300px;
}
.horse-seller h3 {}
.horse-seller h4 {
  font-weight: bold;
  line-height: 1.3;
  padding-top: 20px;
  text-transform: none;
}
.horse-seller h4 a {
  text-decoration: none;
  display: block;
  color: #363227;
}
.horse-seller h4 a:hover {
}
.horse-seller h4 a img.seller {
  border: 1px solid #CCCAC1;
  display: block;
  float: left;
  margin: -20px 10px 0 0;
  padding: 5px;
}
.horse-seller h4 a:hover img.seller {
  border-color: #363227;
}
.horse-seller address {
  font-style: normal;
  margin: 0 0 0.5em;
}
.horse-seller address span {display:block;}
.horse-seller address.seller-address {}
.horse-seller address.seller-phone {}
.horse-seller address.seller-fax {}



.horse-seller-content {
	background-color: #ECEAE5;
}

.node-type-horse.teaser .content h3.title {margin:0 0 0.5em;font-weight: bold;padding-left:135px;}
.node-type-horse.teaser .content h3.title a {color:#363227;}
.teaser .horse-main {
  margin: 0;
  padding-left: 135px;
}
.teaser .horse-image img {float: left;margin: 0 15px 0 0;}
.teaser .horse-details {width: auto;}
/*
.teaser .horse-details ul {margin: 0;padding: 0;}
.teaser .horse-details ul li {
  margin: 0 15px 0 0;
  padding: 0;
}
.teaser .horse-details ul li span {
  position: relative;
}
.teaser .horse-details ul li span,
.teaser .horse-details ul li em {font-weight: normal;}
*/

/* for editing horse-node-form */
fieldset.group-horse-videos .description {
  margin-bottom: 12px;
}


#cboxLoadedContent iframe {overflow:hidden;}



/* Login Form */
#block-user-0 {
  float:right;
  font-size:smaller;
	margin-bottom: 0.5em;
  width:220px;
}
#block-user-0 #edit-name-wrapper,
#block-user-0 #edit-pass-wrapper {}
#block-user-0 #edit-name-wrapper label,
#block-user-0 #edit-pass-wrapper label {display:none;}
#block-user-0 #edit-name-wrapper label span,
#block-user-0 #edit-pass-wrapper label span {display:none;}
#block-user-0 #edit-name-wrapper input,
#block-user-0 #edit-pass-wrapper input {
  background:#7B7870;
  background-color:rgba(204,202,193, 0.5);
  border: 0 none;
  color: #FFFFFF;
  font-size: 11px;
  padding: 5px;
  width: 210px;
}
#block-user-0 .theme-button {
  float: right;
}
#block-user-0 .item-list {margin:0;}
#block-user-0 .item-list ul {}
#block-user-0 .item-list ul li {}
#block-user-0 .item-list a {color:#847f71;text-decoration:none;}
#block-user-0 .item-list a:hover {text-decoration:underline;}





.cck_fullname_first_wrapper {float: left; width: 200px;padding-right:10px;}
.cck_fullname_middle_wrapper {float: left; padding-left: 10px; padding-right: 10px; width: 70px;}
.cck_fullname_last_wrapper {float: left; width: 200px;}

.checkall-edit-field-horse-adtype-value {margin:0;}

div.vertical-tabs,
div.vertical-tabs ul.vertical-tabs-list {
  border-color: #CCCAC1;
}
div.vertical-tabs ul.vertical-tabs-list li {
  background: transparent url(../images/bg_block.png) repeat-x left top;
  border: 1px solid #CCCAC1;
  border-top: 0;
}


/* Flags */
span.flag-favorites,
span.flag-inappropriate {
  display: inline-block;
  margin-bottom: 0.5em;
  width: 170px;
}
* html span.flag-favorites,
* html span.flag-inappropriate {
  display: block;
  float: left;
}

span.flag-favorites a.flag,
span.flag-inappropriate a.flag {
  background: transparent none no-repeat 0 0;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  max-width: 130px;
  outline: 0 none;
  padding-left: 20px;
  padding-right: 5px;
  text-decoration: none;
}
span.flag-favorites        a.flag { background-image: url(../images/icons/flag-favorites.png); }
* html span.flag-favorites a.flag { background-image: url(../images/icons/flag-favorites-ie.png); }

span.flag-inappropriate        a.flag {  background-image: url(../images/icons/flag-inappropriate.png); }
* html span.flag-inappropriate a.flag {  background-image: url(../images/icons/flag-inappropriate-ie.png); }

span.flag-favorites     a.flag:hover,
span.flag-inappropriate a.flag:hover {
  color: #363227;
}

span.flag-favorites     a.unflag-action,
span.flag-inappropriate a.unflag-action {}

span.flag-favorites     a.unflag-action:hover,
span.flag-inappropriate a.unflag-action:hover {
  background-position: 0 -16px;
}
span.flag-favorites     a.flag-action,
span.flag-inappropriate a.flag-action {}

span.flag-favorites     a.flag-action:hover,
span.flag-inappropriate a.flag-action:hover {
  background-position: 0 -32px;
}
span.flag-favorites span.flag-throbber,
span.flag-inappropriate span.flag-throbber {
  display:inline-block;
  width: 13px;
  height: 13px;
  padding: 0;
}

span.flag-favorites span.flag-message,
span.flag-inappropriate span.flag-message {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  font-size: 10px;
  padding: 5px;
  top: 18px;
  width: 150px;
  z-index: 99;
}






#block-menu-menu-member-links {

}
#block-menu-menu-member-links .inner {
  padding: 20px 0 0;
}
#block-menu-menu-member-links ul.menu {
  margin: 0;
}
#block-menu-menu-member-links ul.menu li {
    background: #E4E3DE url(../images/bg_menublocklink.png) repeat-x left top;
    list-style: none outside none;
    padding: 5px 10px;
}
#block-menu-menu-member-links ul.menu li a {
  text-decoration: none;
}
#block-menu-menu-member-links ul.menu li.last {
  background: transparent none;
  padding: 10px;
  text-align: right;
}
#block-menu-menu-member-links ul.menu li.last a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: transparent url(../images/bg_primarylinks.png) repeat-x 0 0;
  color: #FFFFFF;
  display: inline-block;
  font-size: 11px;
  padding: 3px 1em;
  text-transform: uppercase;
}


#block-project6-0 {}
#block-project6-0 .inner {padding: 18px 13px;}
#block-project6-0 h2.title {}
#block-project6-0 .content {}
#block-project6-0 .content h3 {}
#block-project6-0 .content h3 a.preview {
	float: right;
	font-size: 12px;
	line-height: 1.5;
	text-decoration: none;
	text-transform: none;
}
#block-project6-0 .content ol { margin: 10px -13px; }
#block-project6-0 .content ol li {
	line-height: 1.2;
	list-style: none none;
}
#block-project6-0 .content ol.profile-summary { margin: 0; }
#block-project6-0 .content ol.profile-summary li {padding-bottom: 0.5em; padding-left: 80px;position: relative; }
#block-project6-0 .content ol.profile-summary li.first {padding-left: 0;}
#block-project6-0 .content ol.profile-summary li span {
	display: block;
	font-size: 11px;
	font-weight: bold;
	left: 0;
	position: absolute;
}

#block-project6-0 .content ol.profile-menu {}
#block-project6-0 .content ol.profile-menu li {}
#block-project6-0 .content ol.profile-menu li a {
	background: #E4E3DE url(../images/bg_menublocklink.png) repeat-x left top;
	border-top: 1px solid #CCCAC1;
	padding: 5px 10px;
	text-decoration: none;
	display: block;
}
#block-project6-0 .content ol.profile-menu li a:hover {background-position: left bottom;}
#block-project6-0 .content .theme-button {}
#block-project6-0 .profile-logout {
  text-align: center;
}

#block-project6-1 {
  color: #FFF;
  text-align: right;
}
#block-project6-1 .content {
  padding: 25px 0 0;
}
#block-project6-1 #user-greeting {
  font-weight: bold;
}
#block-project6-1 #user-greeting a {
  color: #FFF;
}
#block-project6-1 #user-logout {
  display: block;
  font-size: smaller;
  padding-bottom: 2px;
  padding-top: 1em;
}
#block-project6-1 #user-logout .theme-button {

}


/* Theme Button */
span.theme-button {
  -moz-box-shadow: 0 0 5px #A9510D;
  -webkit-box-shadow: 0 0 5px #A9510D;
  box-shadow: 0 0 5px #A9510D;
}
span.theme-button a,
span.theme-button button{
	background: none;
  border-width: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font: 100%/1.2 "Helvetica Neue", Helvetica, Arial,Sans-serif;
  margin: 0;
  overflow: visible;
  padding: 3px 0;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}
* html span.theme-button a,
* html span.theme-button button { padding-bottom:1px; }
html:not([lang*=""]) span.theme-button a {margin:0 -3px; }
html:not([lang*=""]) span.theme-button button {margin:0 -3px; }
span.theme-button a span,
span.theme-button button span{
  background: #FF8302 url(../images/bg_button.png) repeat-x 0 0;
  border-left: 1px solid #EA9900;
  border-right: 1px solid #EA7A02;
  margin: 0;
  padding: 3px 0;
	white-space: nowrap;
}
* html span.theme-button a span,
* html span.theme-button button span{ padding-top: 0; }
span.theme-button a span span,
span.theme-button button span span{
  border-bottom: 1px solid #EA7A02;
  border-top: 1px solid #EA9900;
  border-width: 1px 0;
  padding: 3px 1em;
  position: relative;
}

span.theme-button a:hover span,
span.theme-button a:hover span span,
span.theme-button a:focus span,
span.theme-button a:focus span span,
span.theme-button button:hover span,
span.theme-button button:hover span span,
span.theme-button button:focus span,
span.theme-button button:focus span span{
  border-color: #A9510D !important;
  color: #A9510D;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
span.theme-button a:active span,
span.theme-button button:active span{
  background-position: 0 -400px;
  outline: 0 none;
}
span.theme-button a:focus,
span.theme-button a:active,
span.theme-button button:focus,
span.theme-button button:active{ outline: 0 none; }

/* Theme Button (Dark) */
span.theme-button-dark a span,
span.theme-button-dark button span{
  background: #353125 url(../images/bg_button_dark.png) repeat-x 0 0;
}
span.theme-button-dark a:hover span,
span.theme-button-dark a:hover span span,
span.theme-button-dark a:focus span,
span.theme-button-dark a:focus span span,
span.theme-button-dark button:hover span,
span.theme-button-dark button:hover span span,
span.theme-button-dark button:focus span,
span.theme-button-dark button:focus span span{
  color: #DDD;
}


/* Submit Button */
span.theme-button button#edit-submit { font-weight: bold; }
span.theme-button button#edit-submit span span { padding-left: 2em; padding-right: 2em; }


.proequest-search { /*font-size:11px;*/ }
.proequest-search .views-exposed-widgets {margin-bottom:0;}
.proequest-search .views-exposed-form .views-exposed-widget {padding-top:0;}
.proequest-search .views-exposed-form .views-exposed-widget:first-child {}

/* First selector is for original form, second for new panel form */
.proequest-search input#edit-query,
.pane-views-exp-horsesearch-page-1 input.form-text
{
  background-color: #CCCAC1;
  border: 1px solid #F3F2EF;
  color: #363227;
  max-width: 120px;
  padding: 6px 0.5em;
  width: 120px;
}
.proequest-search input#edit-query:focus,
.pane-views-exp-horsesearch-page-1 input.form-text:focus
{
  border-color: #757166;
}

.pane-views-exp-horsesearch-page-1 #filter-jumpers,
.pane-views-exp-horsesearch-page-1 #filter-hunters
{
  margin-right: 80px;
}

.pane-views-exp-horsesearch-page-1 input#edit-field-horse-age-value-min,
.pane-views-exp-horsesearch-page-1 input#edit-field-horse-age-value-max,
.pane-views-exp-horsesearch-page-1 input#edit-field-horse-height-value-min,
.pane-views-exp-horsesearch-page-1 input#edit-field-horse-height-value-max
{
  width: 60px;
  border: 1px solid #c3c2cF;
}
.pane-views-exp-horsesearch-page-1 #edit-field-horse-age-value-min-wrapper,
.pane-views-exp-horsesearch-page-1 #edit-field-horse-height-value-min-wrapper {
  margin-bottom: 10px;
}
.pane-views-exp-horsesearch-page-1 #edit-field-horse-age-value-max-wrapper,
.pane-views-exp-horsesearch-page-1 #edit-field-horse-height-value-max-wrapper
{
  margin-right: 100px;
}
#views-exposed-form-search-professional-block-1 input#edit-query {
  max-width: 300px;
  width: 300px;
}




/*
#view-id-horsesearch-page_1 .teaser {
  float: left;
  font-size: smaller;
  margin: 0 15px 15px 0;
  width: 460px;
}
#view-id-horsesearch-page_1 .views-row-even .teaser {
  margin-right: 0;
}
#view-id-horsesearch-page_1 .teaser .inner {
  padding: 15px 13px 5px;
}
#view-id-horsesearch-page_1 .teaser .horse-main {
  height: auto;
  min-height: 80px;
  width: 290px;
}
*/

/* Horse Search */
#view-id-horsesearch-page_1 {
  overflow: visible;
  padding-bottom: 3em;
}
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget:first-child {
  clear:both;
  float:none;
  padding: 0;
}
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget:first-child:before,
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget:first-child:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget:first-child:after {
  clear:both;
}
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget:first-child {zoom:1;}
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget:first-child .form-item {
  float: none;
}
#view-id-horsesearch-page_1 input#edit-keyword {
  font-size: larger;
  padding: 0.75em 0.5em;
}
/*
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget {
  float:none;
}
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget:before,
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget:after {clear: both;}
#view-id-horsesearch-page_1 .views-exposed-form .views-exposed-widget {zoom: 1;}

#view-id-horsesearch-page_1 .views-exposed-form label {
  display: block;
  float: left;
  width: 10em;
}
*/



.proequest-search select {
  max-width: 100px;
  min-width: 100px;
  width: 100px;
}

#views-exposed-form-horsesearch-page-1 .views-exposed-form {margin-bottom: 1em;}
#views-exposed-form-horsesearch-page-1 input#edit-query {
  max-width: 196px;
  width: 196px !important;
}

#views-exposed-form-horsesearch-block-1 select {width:120px;}
#views-exposed-form-horsesearch-block-1 select,
#views-exposed-form-horsesearch-block-1 .ui-select-menu,
#views-exposed-form-horsesearch-page-1  .ui-select-menu { float: left; margin-right: 10px; }

/* BEGIN: Selectmenu */
.ui-selectmenu { display: block; font-size:12px; position:relative; height:2em; text-decoration: none !important; overflow:hidden;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 0 none; border-bottom: 1px solid #FFF; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.4em; display:block; padding:.3em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { color: #757166; line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }


.ui-state-default, .ui-widget-content .ui-state-default {
background:none #CCCAC1;
border:1px solid #F3F2EF;
color:#363227 !important;
outline:0 none;
}
.ui-selectmenu-focus, .ui-state-hover, .ui-state-active {
border-color: #757166;
text-decoration:none !important;
}
.ui-corner-all {
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
}
.ui-widget {font-size:12px;}
.ui-icon {
background-repeat:no-repeat;
display:block;
overflow:hidden;
text-indent:-99999px;
/*background-image:url("images/ui-icons_cccccc_256x240.png");*/
height:16px;
width:16px;
}
.ui-icon-triangle-1-s {
}
.ui-selectmenu-icon {
background:#CCCAC1 url(../images/bg_select.png) no-repeat center left;
bottom:0;
height:auto;
margin-top:0;
position:absolute;
right:0;
top:0;
width:22px;
}
.ui-state-default .ui-icon {
/*background-image:url("images/ui-icons_cccccc_256x240.png");*/
}
.ui-widget-content {
background:none #CCCAC1;
border:1px solid #757166;
color:#757166;
}
.ui-corner-bottom {
-moz-border-radius-bottomleft:0;
-moz-border-radius-bottomright:0;
}
.ui-selectmenu-menu li a {color: #363227 !important;}
.ui-selectmenu-menu li a:hover,
.ui-selectmenu-open li.ui-selectmenu-item-focus a {
background:none #757166 !important;
color:#FFF!important;
}
/* END: Selectmenu */





/* Hide */
#pid-user-me-profile-profile .location fieldset.location-current-coordinates-fieldset,
#pid-user-me-profile-profile .location #gmap-auto1map-locpick_latitude0-wrapper,
#pid-user-me-profile-profile .location #gmap-auto1map-locpick_longitude0-wrapper,
#pid-user-me-profile-profile .location .description:first-child { /*visibility: hidden; display: none;*/ }


#edit-field-profile-name-0-middle-wrapper label {
	text-indent: -99999px;
}


/*
 * Registration
 */
.registration-copy {
  margin: 0;
}
.registration-copy li {
  line-height: 1.3;
  margin-bottom: 0.5em;
  list-style: none none;
}

fieldset#ms_membership_fieldset {
  margin:0;
  padding:0;
  border: 0 none;
}
fieldset#ms_membership_fieldset legend {
  display:none;
}
fieldset#ms_membership_fieldset .form-item {

}
fieldset#ms_membership_fieldset label { display: none; }
fieldset#ms_membership_fieldset .form-item .form-radios label {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #CCCAC1 url(../images/bg_block.png) repeat-x 0 0;
  display: block;
  color: #363227;
  cursor: pointer;
  text-shadow: 0 1px 0 #FFF;
  border: 1px solid inherit;
  padding: 1em;
}
fieldset#ms_membership_fieldset .form-item .form-radios label:hover,
fieldset#ms_membership_fieldset .form-item .form-radios label:focus {
	background: #FFA700 url(../images/bg_button.png) repeat-x 0 -400px;
	color: #A9510D;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
fieldset#ms_membership_fieldset .form-item .form-radios label:active {
/*  background-position: 0 -400px;
  background-color: #FFA700;
  outline: 0 none;*/
}
fieldset#ms_membership_fieldset .form-item .form-radios input {

}
fieldset#ms_membership_fieldset .form-item .ms_membership_plan_name {
  font-size: larger;
  font-weight: bold;
}
fieldset#ms_membership_fieldset .form-item .ms_membership_plan_price {

}

.form-item .description {
	color: #999;
	font-size: 12px;
}


.addthis_toolbox {margin:1em 0;}

/* Hide Quarterly Registration via CSS because turning it off
   in MS Membership module doesn't appear to work */
#edit-mpid-3-wrapper {display: none}

/*
 * Public Profile
 */
.field-field-profile-picture img {float: left;margin: 0 15px 0 0;}
.teaser .field-field-profile-discipline .field-items div {}
.teaser .field-field-profile-discipline .field-items div .field-label-inline { }
.field-field-profile-profession {}
.field-field-profile-bio {}
.field-field-profile-location {}

.full-node.node-type-profile {}
.full-node .field-field-profile-picture {}
.full-node .field-field-profile-discipline {}
.full-node .field-field-profile-profession {}
.full-node .field-field-profile-bio {}
.full-node .field-field-profile-location {}

#view-id-search_professional-page_1 .view-filters {margin-bottom: 2em;}

/* News pages */
.block .view-industry-news,
.block .view-grand-prix-results {}
.block .view-industry-news      .news-entry,
.block .view-grand-prix-results .news-entry {
	border-top: 1px solid #CCCAC1;
	margin-bottom: 1em;
	padding-top: 1em;
}
.block .view-industry-news      .news-entry.first,
.block .view-grand-prix-results .news-entry.first {border-top: 0 none; padding-top: 0;}
.block .view-industry-news      .news-title,
.block .view-grand-prix-results .news-title {margin-bottom: 0;}
.block .view-industry-news      .news-teaser,
.block .view-grand-prix-results .news-teaser {}
.block .view-industry-news      .news-date,
.block .view-grand-prix-results .news-date {color:#999;font-size:12px;}
.block .view-industry-news      .more-link,
.block .view-grand-prix-results .more-link {}
.block .view-industry-news      .more-link a,
.block .view-grand-prix-results .more-link a {}


.adm-link {float: right; margin:0 !important;}
.adm-link li {list-style:none none; float:left;margin-right:1.5em;}

fieldset {
	border: 1px solid #CCCAC1;
}
fieldset.group-profile-1 {
}
fieldset.group-profile-1 legend {
}


#sponsors {
	clear: both;
	margin: 1em 0;
	padding: 0 30px;
}
#sponsors h2 {border-bottom: 1px solid #CCCAC1;}
#sponsors ul {margin:0;}
#sponsors ul li {
  float: left;
  line-height: 1;
  list-style:none none;
}
#sponsors ul li a {}
#sponsors ul li a img {display:block;float:left;margin:0 20px 1em 0;}
#sponsors ul li.last a img {margin-right:0;}


#reg_pro_terms {
	border: 1px solid #999999;
	height: 5em;
	margin: 0.5em 0;
	overflow: auto;
	padding: 0.5em;
}

#node-disclaimer {
	color: #999999;
	font-size: smaller;
	line-height: 1.4;
	margin-bottom: 1.5em;
}

/* Featured Professional */
.node-type-endorsement {}
.node-type-endorsement .view-profile {
  float: right;
  font-size: smaller;
}
.node-type-endorsement .imagecache-avatar {
  float: left;
  margin: 0 10px 0 0;
}
.node-type-endorsement h3 {
  font-weight: bold;
  text-transform: none;
}
.node-type-endorsement h3 a {text-decoration: none;}
.node-type-endorsement h3 a:hover {text-decoration: underline;}
.node-type-endorsement address {
  font-size: 12px;
  font-style: normal;
  margin-bottom: 0.5em;
}
.node-type-endorsement p {
  margin-top: 0;
}


/*
 * Views
 */
#block-views-featured_horses-block_1 .node-type-horse .inner {margin: 0;}

.views-widget .bef-select-as-checkboxes {
  margin-top: 0px;
}

.views-exposed-widget {
  margin-top: 4px;
}

.views-exposed-widget .collapsed {
  margin-bottom: 15px;
}

.pane-views-exp-horsesearch-page-1 .form-checkboxes {
  margin-bottom: 2px;
}

#filter-hunters {
  /* right margin to force div to move to new line */
  margin-right: 30px;
}

#filter-jumpers {
  /* right margin to force div to move to new line */
  margin-right: 30px;
}

#filter-equitation {
  margin-right: 40px;
}

#filter-ponies {
  margin-right: 0px;
  padding-right: 0px;
}

.views-exposed-form .views-widget .collapsible
{
  margin-bottom: 0px;
}

#edit-location {

}

.region-grey-gradient {
  /* default background colour, for all layout engines that don't implement gradients */
  background-color: #d3d2ca;

  /* gecko based browsers */
  background: -moz-linear-gradient(top, #CBCAC2, #FFFFFF);

  /* webkit based browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#CBCAC2), to(#FFFFFF));

  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CBCAC2FF, endColorstr=#FFFFFFFF);

  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CBCAC2FF, endColorstr=#FFFFFFFF)";

  height: auto; /* gradient uses the full height of the element */
  padding: 8px;
  border: thin solid #CCCAC1;
}


/* Search button */
#horse-search-button {
  margin: 0px 0px 4px 70px;
  display: block;
}

/*
 * Sidebar
 */
.sidebar-first h2.block-title,
.sidebar-last  h2.block-title { color: #DDBB00; }

/*
 * News pages
 */

.views_slideshow_slide {
  padding: 5px;
  border: 1px solid #cccccc;
}


.view-news h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-transform: none;
  margin-top: 0px;
  color: #565656; /* dark grey */
}

.view-news h2 a {
  text-decoration: none;
  color: #565656;
}

.view-news p {
  color: #6b6b6b;
  margin: 0em 0 1em 0;
}

a.read-more-link,
.node ul.links a {
  color: #ff7b00 !important;
}
a.read-more-link {
  margin-left:8px;
}

/* News header image */
.news-header-image {
  border-bottom: 2px solid #c1beba;
  width: 566px;
  height: 62p;
}

/* All Pagers
-------------------------------------------------------------- */


ul.pager a,
ul.pager li.pager-current {
  border-style: none;
  background-color: #fff;
  color: #565656;
  display:block;
  float: left;
  vertical-align: text-bottom;
  margin-bottom: 20px;
  padding: 0px 5px 0px;
}

ul.pager li.pager-next.last, ul.pager li.pager-previous.first {
  position: relative;
  top: -6px;
  display: block;
}

ul.pager li.pager-next.last {
  left: 10px;
}

ul.pager li.pager-previous.first {
  right:10px;
}

.item-list .pager li {
  padding: 0;
  float: left;
}

ul.pager a:hover, ul.pager a:active, ul.pager a:focus {
  border-style: none;
}

.view-news .pager {
  margin: 20px auto 20px 80px;
  width: 90%;
}

.news-pages-footer {
  margin-left: 250px;
  margin-top: 40px;
  position: relative;

}

.news-pages-footer .follow-us {
  margin: 0px 0px 12px 132px;
  color: #ff7b00;

}

.news-pages-footer .logos {
  margin-bottom: 12px;
}


.news-pages-footer .facebook-logo {
  margin-left: 105px;
}

.news-pages-footer .twitter-logo {
  margin-left: 35px;
}

.news-pages-footer .copyright {
  margin-bottom: 20px;
}

.news-pages-footer .proequest-logo {
  margin-left: 130px;
}

.view-Slideshow {
  margin-bottom: 15px;
/*  margin-top: -50px;*/
}

.view-Slideshow .nivo-caption {
  margin: 0px;
}

.view-Slideshow h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: none;
  margin: 0px 0px 0px 0px;
}


.view-Slideshow p {
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 5px;
  padding-left: 0px;
  margin-top: 0px;
}

.view-Slideshow p p {
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 2px;
}

.facebook-sprite {
    background-image     : url(/sites/all/themes/proequest/images/FacebookSprite.png);
    background-color     : transparent;
    background-repeat    : no-repeat
 }

.twitter-sprite {
    background-image     : url(/sites/all/themes/proequest/images/TwitterSprite.png);
    background-color     : transparent;
    background-repeat    : no-repeat
 }

 #social-logo-blue {
    height               : 47px;
    width                : 47px;
    background-position  : -0px -0px
 }

 #social-logo-brown {
    height               : 47px;
    width                : 47px;
    background-position  : -47px -0px
 }

 #social-logo-brown:hover {
    background-position  : -0px 0px
 }


.follow-proequest {
  position: absolute;
  left: 615px;
  top: -30px;
  width: 200px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.follow-facebook {
  position: absolute;
  left: 820px;
  top: -30px;
  width: 47px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.follow-twitter {
  position: absolute;
  left: 880px;
  top: -30px;
  width: 47px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}



.view-news .content {
  display: inline;
}

.news-image-teaser-container {
  float: left;
}

.news-image-teaser {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  border: 1px #565656 solid;
  padding: 2px;
  margin: 4px 16px 8px 0px;
}

.news-preview-buttons {
  margin-top: 10px;
}

.news-hr-over-like {
  height: 1px;
  border: 0;
  color: #dededc;
  background: #dededc;
  margin: -25px 0 10px;
}

.social-button-wrapper {
  float: left;
}

/* put this only in the view because there is no caption */
.view-news .news-image-teaser {
  display: inline-block;
  width: 90px;
  height: 90px;
}

.news-image-teaser-caption {
  font-style: italic;
  width: 99%;
  margin: auto;
  margin-bottom: 12px;
}

.view-news .news-body {
  float: left;
}
.view-news p:last-of-type {
  display:inline;
	}

.view-popular .views-field-title a {
  text-decoration: none;
  font-size: 16px;
  color: #6b6b6b;
}

.view-popular .views-field-created {
  font-size: 10px;
  font-weight: 200;
  color: #6b6b6b;
}

.panel-pane h2.pane-title {
  font-size: 24px;
  text-transform: none;
  color: #000 !important;
}


/*
 * Story node
 */

h1.title {
  font-family: Times New Roman;
  font-size: 30px;
  text-transform: none;
  color: #000000;
  margin-top: 8px;
}

.node-type-story {
  color: #6b6b6b;
}

/*
 * Remove the padding that is on every non-front page
 */
.not-front.layout-main.page-news #content-inner-inner {
  padding-right: 0px;
}

/*
 * News submenu
 */

.pane-menu-menu-news-categories {
  margin: 10px 0 0 0;
}

.pane-menu-menu-news-categories ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 22px;
}

.pane-menu-menu-news-categories ul li {
  list-style: none;
  margin-left: 0px;
  background: url("/sites/all/themes/proequest/images/menu-arrow-down.png") 20px 14px no-repeat #e7e6e2;
  line-height: 100%;
  height: 22px;
  padding-top: 10px;
}

.pane-menu-menu-news-categories ul li a {
  text-decoration: none;
  margin: 10px 0 0 0;
  padding: 10px 0 10px 40px;
  font-family: Helvetica, Arial, sans-serif;
  color: #6b6b6b;
}

.pane-menu-menu-news-categories ul ul {
  margin: 9px 0 0 0;
  padding: 0 0 0 0;
  height: 22px;
}

.pane-menu-menu-news-categories ul li li {
  margin-left: 0;
  list-style: none;
  background: url("/sites/all/themes/proequest/images/menu-arrow-right.png") 40px center no-repeat #e7e6e2;
  padding-left: 20px;
  height: 22px;
  padding-top: 10px;
  border-top: 1px solid #fff;
}

.pane-menu-menu-news-categories ul li li:hover {
  background-color: #dcdbd6;
}

/*
 * Ads
 */
body.page-news .image-advertisement {
}

.panel-thin-frame {
  border: 1px solid #c1beba;
  width: 300px;
  height: 200px;
  margin-right: 0px;
}

.panel-thin-frame-padding {
  border: 1px solid #c1beba;
  width: 290px;
  padding: 5px 5px 5px 5px;
  margin-right: 0px;
}

.panel-background {
  background-color: #e7e6e2;
}

.panel-thin-frame ,
.panel-thin-frame-padding {
  color: #6B6B6B;
  margin-bottom: 10px;
}

.panel-thin-frame .pane-small-title,
.panel-thin-frame-padding .pane-small-title {
  text-transform: none;
  font-size: 18px;
}

.panel-image {
  float: left;
  padding: 0px 5px 5px 0;
}

.panel-thin-frame p,
.panel-thin-frame-padding p {
  margin-top: 0px;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-185px {
  margin-top: 185px;
}

/*
 * Social buttons
 */
.node-story-social {
  margin-top: 15px;
}

/*
 * Membership and Advertising Pages
 */
.membership,
.advertising {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #565656;
  line-height: 140%;
  font-weight: 100;
 }

.membership h2,
.advertising h2 {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16pt;
  font-style: italic;
  text-transform: none;
  color: #6b6b6b;
  margin: 30px 0px 30px 10px;
 }

.membership h3,
.advertising h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14pt;
  font-weight: 600;
  margin: 0px 0 0px 0;
  text-transform: none;
  color: #6b6b6b;
}

.bullet-col {
  float: left;
}

.text-col {
  float: left;
  margin: 0 0 0 30px;
  width: 85%;
  font-size: 13px;
}

.membership p,
.advertising p {
  margin-top: 2px;
}

.membership-professional-box {
  height: 46px;
  width: 530px;
  margin-top: 40px;
  padding: 8px 0 0 10px;
  font-size: 20px;
}

.membership-professional-box span {
  position: relative;
  float: left;
  padding-top: 7px;
}

.membership-professional-box strong {
  font-weight: bold;
}

.membership-professional-box img {
  margin-left: 20px;
}

.advertising .text-col {
  margin-bottom: 15px;
}

.advertising-box {
  height: 48px;
  width: 570px;
  margin: 110px 0 40px 0;
  padding: 11px 0 0 10px;
  font-size: 20px;
}

.advertising-box span {
  position: relative;
  float: left;
  padding-top: 7px;
}

.advertising-box img {
  margin-left: 20px;
}

.arrow-bullets h3 {
/*  "As a professional member, you can"*/
  margin: 20px 0 15px 10px;
  padding-top: 30px;
}

.testimonial-box {
  margin: 10px 0 10px 0;
}

.testimonial-box img {
  position: relative;
  float: left;
  margin-right: 10px;
}

.testimonial-text {
  position: relative;
  float: left;
  width: 220px;
  color: #999999;
  font-style: italic;
}

.testimonial-background-quote {
  background-image: url('/sites/all/themes/proequest/images/LargeRightQuote.png');
  background-repeat: no-repeat;
  background-position: right top;
}

#button-join-now {
  margin: 5px 0px 0px 15px;
}

#button-view-more-faqs {
  text-align: center;
  margin: 10px 0px 15px 0px;
}

.youtube-box {
  margin: 10px 0 10px 0;
}

.frequently-asked-questions-box {
  padding: 10px 0 0px 10px;
}

.frequently-asked-questions-box p {
  margin: 5px 0;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.float-left {
  position: relative;
  float: left;
}

a.orange-text {
  color: #ff8f00;
  text-decoration: none;
}

/*
 * Panels theming
 */
body:not(.page-admin) .panel-left-orange-border {
  /* opacity is not supported by all browsers, declare twice
  see: http://stackoverflow.com/questions/4062001/css3-border-opacity */
  border-left: 1px solid rgba(199, 178, 153, .3);
  border-left: 1px solid rgba(199, 178, 153);
  height: 1100px;
  padding-left: 15px;
}

/*
 *
 * Buttons, bullets, etc.
 *
 */

.clearboth {
  clear: both;
}

/*  See css3 gradient buttons
 *  http://webdesignerwall.com/tutorials/css3-gradient-buttons
 */

a.button-large {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 18px/100% Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
	padding: .5em 5px .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

a.button-medium {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
	padding: .5em 5px .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

a.button-small {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 10px/100% Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
	padding: .4em 5px .45em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

a.button-orange-small:hover {
  text-decoration: none;
}

a.button-orange-small:active {
  position: relative;
	top: 1px;
}

.arrow-bullets ul {
  margin: 10px 0 10px 10px;
  padding: 0 0 0 0;
}
.arrow-bullets ul li {
  margin: 4px 0 4px 0px;
  list-style: none;
  background: url("/sites/all/themes/proequest/images/menu-arrow-right.png") 10px 6px no-repeat;
  padding-left: 20px;
}

