tr.ms_total th {
  text-align: right;
  background: #efefef;
}
tr.ms_subtotal td {
  text-align: right;
  background: #fafafa;
}
.ms_price {
  text-align: right;
}
.ms_adjustment_value {
  text-align: right;
}

.ms_order_items, .ms_order_table {
  border: 2px solid #999;
}

.ms_order_items tr.odd, .ms_order_items tr.even, .ms_order_table tr.odd, .ms_order_table tr.even {
  background: #fefefe;
  border: 1px solid #bbb;
}

.ms_order_items th, .ms_order_table th {
  border-bottom: 2px solid #999;
  border-top: 2px solid #999;
  padding: 3px 10px;
}

.ms_order_items td, .ms_order_table td {
  padding: 3px 10px;
}

.ms_order_items tr, .ms_order_table tr {
  border: 1px solid #bbb;
  background: #efefef;
}

.ms_order_items td.ms_adjustment_display {
  text-align: right;
}

/* Cart */

#ms_cart_block_total {
  border-top: 1px solid #666;
  font-weight: bold;
  padding: 5px 0;
  clear: both;
}

.ms_cart_left {
  float: left;
}

.ms_cart_right {
  float: right;
}

.ms_cart_button {
  background: #eee;
  border: 1px solid #666;
  padding: 3px 5px;
  font-weight: bold;
  margin: 0 10px;
}

.ms_cart_button a:link, .ms_cart_button a:visited {
  color: black;
}

.ms_cart_cleardiv {
  clear: both;
}

#ms_cart_block_cart_contents {
  clear: both;
}

.ms_cart_block_contents_item {
  clear: both;
}

#ms_cart_block_buttons {
  clear: both;
  padding: 5px 0;
  text-align: center;
}

#ms_cart_block_help_text {
  clear: both;
}

.ms_cart_block_contents_adjustment_value, .ms_cart_block_total_price {
  margin-right: 16px;
}

.ms_cart_block_contents_item_remove {
  margin-left: 2px;
}

.ms_cart_item_remove {
  margin-right: 10px;
}

.ms_cart_left {
  float: left;
}

.ms_cart_right {
  float: right;
}

/* Checkout Quantity Widget */
.form-item-qty label {
  display: inline;
}
.form-item-qty {
  display: inline;
}
.qty_inc {
  display: none;
}
.qty_dec {
  display: none;
}