/*
 * Standard components like primary menu
 */

.is-admin .main-group {
  top: 158px;
}


ul.quicktabs-style-proequest {
	height: 27px !important;
	width: 620px !important;
	padding-right:0px !important;
}

ul.quicktabs-style-proequest li {
	width:122px !important;
	float: left;
}

ul.quicktabs-style-proequest li.last{
	width:125px !important;
	float: left;
}

.pane-quicktabs-featured-horses .pane-content {
  padding-top: 0px;
}

ul.menu li ul.menu {
  margin-top: -2px;
}

.list-a-horse {
  position: relative;
  top: -15px;
}

.is-admin .main-group {
  top: 158px;
}

#content-group {
  width: 470px;
}

body.page-home #content-group,
body.page-search #content-group,
body.node-type-horse.full-node #content-group,
body.page-professionals #content-group,
body.page-news #content-group,
body.page-node #content-group {
  width: 960px;
}

.node-type-horse .horse-main .horse-details {
  position: relative;
  float: left;
}

.list-a-horse {
  position: relative;
  top: -14px;
}

ul.quicktabs_tabs.quicktabs-style-proequest li.last{
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
border-top-right-radius: 5px;
}

.image-advertisement a img {
	float:left;
	width:175px;

}

.pane-homepage-news-panel-pane-1,
.pane-homepage-news-panel-pane-2 {
  width: 300px;
  margin-top: 10px;
  padding-bottom: 10px;
  border: 1px solid   #DDD6D1;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  box-shadow: 2px 2px 2px
  rgba(0, 0, 0, .2);
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #ded7ce 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(100%,#ded7ce)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* IE10+ */
  background: linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* W3C */
  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#ffded7ce);
}

.homepage-become-a-member {
 border-radius: .5em;
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
}

ul.quicktabs_tabs.quicktabs-style-proequest li.last{
border-top-right-radius: 4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topright: 4px;
}

.horse-discipline, .horse-location{font-weight: normal;}

.image-advertisement a img {
	float:left;
	width:auto;
}

.ie9.page-user #content-inner-inner #member-profile-page {
  width: 960px !important;
  padding-left: 0px;
}

/*
 * Nivo Slider
 */
.nivo-caption {
  height: 93px;
  width: 630px !important;
}

.nivo-caption p {
  padding-top: 46px;
}

.views-nivo-slider {width:630px !important;}


/*
 * Professionals
 */
 body.page-professionals .proequest-block-orange,
 body.node-type-horse .proequest-block-orange {
   display: none;
 }

 /*
  * News pages
  */
.node-type-grandprix .news-body .advertisement img {
  padding-right:10px;
}

.pane-menu-menu-news-categories {
  padding-top:0px;
  margin-bottom: 10px;
  padding-bottom: 70%;  /* helps to adjust the height of the news categories menus. may need to adjust if more items are added to menu */
}


.pane-menu-menu-news-categories ul {
}

.pane-menu-menu-news-categories ul li {
  height: 30px;
  line-height: 30px;
  margin: 0px;
  padding: 0px;
}

.pane-menu-menu-news-categories ul ul {
  margin: 0px;
}

.pane-menu-menu-news-categories ul ul li {
  height: 22px;
  line-height: 10px;
  margin: 0px;
}

/*
 * Vendors
 */

/* IE9 need filter set to none */
.ie9gradient {
    filter: none;
}

.page-search .form-filters-wrapper {
  width: 572px;
}


#primary-menu ul.sf-menu li ul, ul.sf-menu li {
 z-index: 1000;
}

/* Patches Banner */
.header-group-wrapper #header-group-inner .header-spruce-meadows .content .static-block a {
  display: block;
  width: 420px;
  height: 80px;
  text-align: left;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}