/* $Id: twocol_stacked.css,v 1.1.2.1 2008/12/16 21:27:59 merlinofchaos Exp $ */

.panel-2col-stacked { 
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-stacked .panel-col-top,
.panel-2col-stacked .panel-col-bottom { 
  width: 99.9%; 
  clear: both;
}

.panel-2col-stacked .panel-col-top .inside {
  margin-bottom: .5em;
}

.panel-2col-stacked .panel-col-first { 
  float: left; 
  width: 32%; 
}
* html .panel-2col-stacked .panel-col-first {
  width: 31.9%;
}

.panel-2col-stacked .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-2col-stacked .panel-col-last { 
  float: left; 
  width: 67.9%; 
}

.panel-2col-stacked .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panel-2col-stacked .panel-separator {
  margin: 0 0 1em 0;
}
