.memPlan tbody {
  border-top:0;
}
.memPlan {
  position:relative;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  padding: 1px;
  border: 2px solid #666;
  background-color: #ddd;
}
.memName {
  position: relative;
}
.memDetails {
  font-size:0.8em;
  position:absolute;
  right:5px;
  text-align:right;
  top:0;
  width:100%;
  z-index:999;
}
.noPlan {
  position:relative;
  text-align: center;
  margin: 5px;
  padding: 1px;
  border: 2px solid #666;
  background-color: #ddd;
}
.status_1, .status_3 {
  border: 2px solid #0f0;
  background-color: #dfd;
}
.status_0 {
  border: 2px solid #f00;
  background-color: #fdd;
}
.status_2 {
  border: 2px solid #ff0;
  background-color: #ffd;
}
.statsPlan {
  border: 2px solid #aaa;
  padding: 5px;
  clear: both;
  background: #fefefe;
}
.statsPlanName {
  font-weight: bold;
  font-size: 1.4em;
}
.statsPlanActive {
  color:#00DD00;
  display:inline;
  font-weight:bold;
  margin:5px 10px;
}
.statsPlanExpired {
  color:#FF0000;
  display:inline;
  font-weight:bold;
  margin:5px 10px;
}
.statsPlanCancelled {
  color:#FFAA00;
  display:inline;
  font-weight:bold;
  margin:5px 10px;
}