/*
 * Note: Include the nivo-slider.css file that comes
 * with the main download before including this file.
 */

#slider {
	position:relative;
	margin:30px 30px 60px 30px;
	-moz-box-shadow:0px 0px 10px #333;
	-webkit-box-shadow:0px 0px 10px #333;
	box-shadow:0px 0px 10px #333;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
}
#slider a {
	border:0;
}

.nivo-controlNav {
	position:absolute;
	right:0px;
	bottom:12px;
}
.nivo-controlNav a {
	display:block;
	width:14px;
	height:14px;
	background:url(bullets-white-new.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:-14px 0;
}

.nivo-directionNav a {
	display:block;
	width:32px;
	height:34px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-32px 0;
	right:10px;
}
a.nivo-prevNav {
	left:10px;
}

.read-more-button {
  position: absolute;
  left: 60%;
  bottom: 38px;
  z-index: 1000;
}