#pid-user-me-order-history,
.page-user {
	font-family: "GibsonRegular",Arial,sans-serif !important;
}

#pid-user-me-order-history .grid16-12,
.page-user .grid16-12 {
	width:630px !important;
}

#pid-user-me-order-history .grid16-4,
.page-user .grid16-4 {
	width:330px !important;
}

#pid-user-me-order-history  #section-title,
.page-user #section-title {
	color: #320001;
	font-size: 22px;
	margin-top: 14px;
	margin-left: 25px;
}

#pid-user-me-order-history .block-ad .inner img,
.page-user .block-ad .inner img {
	border: 1px solid #DDD6D1;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	margin-top: 10px;
	padding-bottom: 0px;
}

.page-user .block-project6 .inner {
	border: 1px solid #DEDAD7;
  font-family: "GibsonRegular",sans-serif;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 0px !important;
}

.page-user .block-project6 .inner h3.title {
	padding: 20px 25px 30px ;
	margin: 0px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f0e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f0e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f0e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f0e9',GradientType=0 ); /* IE6-9 */
  border-bottom: 0px solid #DED6D3;
  color: #D97805;
  font-family: "GibsonRegular",sans-serif;
  font-size: 1.2em;
  line-height: 1.8em;
  margin: 0;
  padding: 1px 15px;
}

.page-user #block-project6-0 .content ol {
	margin: 0px !important;
	padding: 0px !important;
}

.page-user #block-project6-0 .content ol.profile-menu li {
	border-top: none !important;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.page-user #block-project6-0 .content ol.profile-menu li a {
	display: block;
  padding: 8px 20px;
  text-decoration: none;
  background: none !important;
  background-color: #ffffff !important;
	border-bottom: 0px solid #DEDAD7;
}

.page-user #block-project6-0 .content ol.profile-menu li a.last {
	border-bottom: 0px;
}

.page-user #block-project6-0 .content ol.profile-menu li a:hover {
	color: #DE7427;
}

.page-user td.ms_user_history_oid {
	width: 10%;
	padding: 3px 5px;
}
.page-user td.ms_user_history_created {
	width: 10%;
	padding: 3px 10px 3px 5px;
}
.page-user td.ms_user_history_status {
	width: 15%;
	padding: 3px 5px;
}
.page-user td.ms_user_history_total {
	width: 10%;
	padding: 3px 5px;
}
.page-user td.ms_user_history_actions {
	width: 15%;
	padding: 3px 5px;
}

.page-user #form-container {
	border: 1px solid #DED6D3;
	padding: 20px 25px 30px ;
	margin: 0px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f0e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f0e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f0e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f0e9',GradientType=0 ); /* IE6-9 */
}
.page-user #form-container fieldset {
	border:0px;
	padding: 0px;
	margin: 0px;
}
.page-user #form-container fieldset {
	border: none !important;
	width: auto !important;
	margin: 0;
	padding: 0;
}
.page-user #form-container fieldset.collapsible {
	margin-top: 30px;
	margin-bottom: 20px;
}


/* MEMBER INFO PAGE */
#pid-user-me-member-info .content-content fieldset{
	border: 1px solid #DED6D3;
	padding: 20px 25px 30px ;
	margin: 40px 0 0 0px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f0e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f0e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f0e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f0e9',GradientType=0 ); /* IE6-9 */
}
#pid-user-me-member-info .content-content fieldset legend {
	color: #320001;
	font-size: 22px;
	margin-top: -40px;
	margin-left: 0px;
}
tr.odd, tr.odd td {
	background-color: transparent !important;
}
/* ORDER HISTORY PAGE */

#pid-user-me-order-history .sticky-table tr.even, #pid-user-me-order-history .sticky-table tr.even td {
	background-color: #f5f0e9;
	border-color: #DED6D3;
}
#pid-user-me-order-history .sticky-table tr.odd, #pid-user-me-order-history .sticky-table tr.odd td {
	border-bottom: 1px solid #DED6D3;

}



/* INPUTS */
.page-user #form-container textarea,
.page-user #form-container input.form-text,
.page-user #form-container input.password-field {
  min-width: 160px !important;
  width: 160px !important;
	margin: 0 !important;
	padding: 2px 5px !important;
	background-color: #ffffff;
	box-shadow: none;
	height: 22px;
	border: 1px solid #DED6D3;
}

.page-user #form-container .form-item input.form-checkbox,
.page-user #form-container .form-item input.form-radio {
margin-right: 3px;
}

.page-user #form-container .form-item select {
margin-right: 3px;
}

.page-user #form-container fieldset .form-item label{
	font-weight: normal !important;
	color: #4F3921;
}

.page-user #form-container .form-item .form-select,
.page-user #form-container .form-item .form-select,
.page-user #form-container .form-item .form-select.required,
.page-user #form-container .form-item .form-select {
	width: auto;
	border: 1px solid #D5CCC4;
	border-radius: 4px;
	padding: 3px 6px;
	height: auto;
}
.page-user #form-container .group-profile-1 > legend {display: none;}
.page-user #form-container .group-profile-1 .textarea-identifier.description {display: none;}
.page-user #form-container .form-item #edit-field-profile-youtube-0-url,
.page-user #form-container .form-item #edit-field-profile-facebook-0-url {
	width: 365px !important;
	height: 23px !important;
}
.page-user #form-container .form-item #edit-field-profile-bio-0-value {
	width: 365px !important;
	height: 69px;
}
.page-user #form-container #edit-field-profile-association-0-value-wrapper,
.page-user #form-container #edit-field-profile-usef-0-value-wrapper,
.page-user #form-container #edit-field-telephone-0-value-wrapper,
.page-user #form-container #edit-field-contact-email-0-value-wrapper {
	width: 203px !important;
	float: left;
	height: 23px !important;
	margin-bottom: 15px;
}
.page-user #form-container #profession-select {
	float: left;
	clear: both;
	width: 365px;
	padding-top: 25px;
}
.page-user #form-container div.link-field-column {
	width: 203px !important;
	float: left;
	margin-bottom: 15px;
	padding-top: 25px;
}
.page-user #form-container input.form-autocomplete {
	background-position: 100% 6px;
}
.page-user #form-container fieldset.location .description {
	display: none;
}

#edit-field-profile-discipline-value-Dressage-wrapper,
#edit-field-profile-discipline-value-Hunter/Jumper-wrapper {
	width: 23%;
}

.page-user #form-container .vertical-tabs {
	background-color: #fff;
}
.page-user #form-container .vertical-tabs-panes {
	padding: 10px;
}





/* SIDEBAR */
.page-user #block-project6-0 .content ol.profile-menu li a {
	padding-left: 15px;
	color: #614E3E;
}
.page-user #block-project6-0 .content ol.profile-menu li a.active {
	border: 1px solid #844100;
	background-color: #E68D14; /* Old browsers */
	background: -moz-linear-gradient(top, #E68D14 0%, #B15F00 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E68D14), color-stop(100%,#B15F00)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #E68D14 0%,#B15F00 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #E68D14 0%,#B15F00 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #E68D14 0%,#B15F00 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #E68D14 0%,#B15F00 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E68D14', endColorstr='#B15F00',GradientType=0 ) !important; /* IE6-9 *//* 	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent; */
	color: #fff;
}


/* BUTTONS */
.page-user h3.title a {
	color: #DE7427 !important;
	text-decoration: none;
}

.page-user #form-container .theme-button {
	margin-right: 20px;
	margin-top: 20px;
}
.page-user #form-container .theme-button #edit-delete {
	letter-spacing: 1px;
	background-color: #A89884;
	padding: 8px 25px;
	border-radius: 4px;
	border: 1px solid #B0A39A;
	text-transform: capitalize !important;
	text-shadow:0px 1px 1px #666 !important;
	background: #d4c8ba; /* Old browsers */
	background: -moz-linear-gradient(top, #a89884 0%, #d4c8ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a89884), color-stop(100%,#d4c8ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a89884 0%,#d4c8ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a89884', endColorstr='#d4c8ba',GradientType=0 ); /* IE6-9 *//* 	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent; */
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}
.page-user #form-container .theme-button #edit-delete:hover {
	letter-spacing: 1px;
	background-color: #A89884;
	padding: 8px 25px;
	border-radius: 4px;
	border: 1px solid #B0A39A;
	text-transform: capitalize !important;
	text-shadow:0px 1px 1px #222 !important;
	background: #d4c8ba; /* Old browsers */
	background: -moz-linear-gradient(top, #a89884 0%, #d4c8ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a89884), color-stop(100%,#d4c8ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a89884 0%,#d4c8ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a89884', endColorstr='#d4c8ba',GradientType=0 ); /* IE6-9 *//* 	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent; */
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}
.page-user #form-container .theme-button #edit-delete:hover span span:hover {
	text-shadow:0px 1px 1px #333 !important;
}

.page-user #form-container .theme-button #edit-submit {
	background: #feb944; /* Old browsers */
	background: -moz-linear-gradient(top,  #feb944 0%, #ed870a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb944), color-stop(100%,#ed870a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feb944 0%,#ed870a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb944', endColorstr='#ed870a',GradientType=0 ); /* IE6-9 */
  border: 1px solid #ED870A;
  border-radius: 4px 4px 4px 4px;
  color: white !important;
  padding: 8px 25px !important;
  text-decoration: none;
  text-shadow:0 1px 1px #333333 !important;
	text-transform: capitalize !important;
	font-weight: normal;
	letter-spacing: 1px;
}
.page-user #form-container .theme-button #edit-submit:hover {
	background: #BE6C08; /* Old browsers */
	background: -moz-linear-gradient(top,  #feb944 0%, #BE6C08 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb944), color-stop(100%,#BE6C08)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feb944 0%,#BE6C08 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb944', endColorstr='#BE6C08',GradientType=0 ); /* IE6-9 */
  border: 1px solid #A9510D !important;
  border-radius: 4px 4px 4px 4px;
  color: white !important;
  padding: 8px 25px 8px 25px !important;
  text-decoration: none;
  text-shadow:0 1px 1px #666 !important;
	text-transform: capitalize !important;
	font-weight: normal;
	letter-spacing: 1px;
}
.page-user #form-container .theme-button #edit-delete span,
.page-user #form-container .theme-button #edit-delete span:hover,
.page-user #form-container .theme-button #edit-delete span:hover span,
.page-user #form-container .theme-button #edit-delete span span:hover,
.page-user #form-container .theme-button #edit-delete span span {
	margin: 0 !important;
	padding: 0 !important;
	background-color: transparent !important;
	border: none !important;
	text-transform: capitalize !important;
	background: none !important;
	color: #ffffff !important;
}
.page-user #form-container .theme-button #edit-submit span,
.page-user #form-container .theme-button #edit-submit span:hover,
.page-user #form-container .theme-button #edit-submit span:hover span,
.page-user #form-container .theme-button #edit-submit span span:hover,
.page-user #form-container .theme-button #edit-submit span span {
	margin: 0 !important;
	padding: 0 !important;
	background-color: transparent !important;
	border: none !important;
	text-transform: capitalize !important;
	background: none !important;
	color: #ffffff !important;
}




/* image field for profile edit */
table#field_barn_pictures_values {
	width: auto;
	margin-top: 35px !important;
}
table#field_barn_pictures_values tr.even, table#field_barn_pictures_values tr.even td {
	background-color: #ffffff !important;
	border: none !important;
	padding: 7px 0 10px 0px;
	vertical-align: middle;
}
table#field_barn_pictures_values tr.odd, table#field_barn_pictures_values tr.odd td {
	background-color: #FAF9F7 !important;
	border: none !important;
	padding: 7px 0 10px 0px;
	vertical-align: middle;
}
table#field_barn_pictures_values tr.even > td,
table#field_barn_pictures_values tr.odd > td {
	padding: 7px 0 10px 10px;
}
table#field_barn_pictures_values .draggable a.tabledrag-handle,
table#field_barn_pictures_values .draggable a.tabledrag-handle {
	padding: 0 !important;
	margin: 0 !important;
}
table#field_barn_pictures_values tbody {
	border: none;
}
table#field_barn_pictures_values {
	margin-top: -10px;
}
table#field_barn_pictures_values tr.even td label,
table##field_barn_pictures_values tr.odd td label {
	font-weight: normal;
}
.group-horse-images table.sticky-header {
	position: absolute !important;
}
table#field_barn_pictures_values .tableHeader-processed,
table#field_barn_pictures_values .tableHeader-processed tr,
table#field_barn_pictures_values th {visibility: visible;border: none; height: 0px;}
table#field_barn_pictures_values tr td .form-item .description {display: none; visibility: hidden;}
table#field_barn_pictures_values .filefield-element {margin: 2px 0px;}
table#field_barn_pictures_values .filefield-element .theme-button button span span {
	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent;
  border: 1px solid #ED870A;
  border-radius: 4px 4px 4px 4px;
  color: white !important;
  padding: 8px 14px !important;
  text-decoration: none;
  text-shadow:0 0px 1px #333333 !important;
	text-transform: none;
	font-weight: normal;
}
table#field_barn_pictures_values .tableHeader-processed th{
	font-weight: normal;
}
table#field_barn_pictures_values .filefield-element .widget-edit {
	max-width: 100% !important;
	min-width: auto !important;
	width: auto !important;
}
table#field_barn_pictures_values .filefield-element .widget-edit .form-item {
	margin: 8px 0;
}
table#field_barn_pictures_values input {
	background-color: #ffffff;
	box-shadow: none;
	border: 1px solid #D5CCC4;
	height: 20px;
	padding-left: 7px;
}
table#field_barn_pictures_values input.form-file {
margin-right: 10px;
padding: 7px 4px 6px
}
table#field_barn_pictures_values #edit-field-horse-image-0-filefield-remove,
table#field_barn_pictures_values #edit-field-horse-image-1-filefield-remove,
table#field_barn_pictures_values #edit-field-horse-image-2-filefield-remove,
table#field_barn_pictures_values #edit-field-horse-image-3-filefield-remove,
table#field_barn_pictures_values #edit-field-horse-image-4-filefield-remove,
table#field_barn_pictures_values #edit-field-horse-image-5-filefield-remove {
	margin-top: 23px;
}
table#field_barn_pictures_values span.theme-button {
	box-shadow: none;
}
table#field_barn_pictures_values span.theme-button a span,
table#field_barn_pictures_values span.theme-button button span {
	border: 0px solid black;
	box-shadow: none;
}

#edit-profile-tab-header {
	width: 588px/* 481px */;
	border-left: 1px solid #DFDBD8;
	border-bottom: 1px solid #DFDBD8;
	color: #D77A00;
	padding: 7px 0 0 20px;
	font-size: 1.2em;
	margin-left: -26px/* -19px */;
	background: #f5f0e9; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f0e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f0e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f0e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f0e9',GradientType=0 ); /* IE6-9 */
}











.billing-info-container {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}

.billing-info-container h4 {
  font-size: 13px;
  color: #888888;
  border-bottom: 1px solid #DEDAD7;
  padding-bottom: 2px;
}


.billing-info-container .edit-profile-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;

  background: #feb944; /* Old browsers */
  background: -moz-linear-gradient(top,  #feb944 0%, #ed870a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb944), color-stop(100%,#ed870a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #feb944 0%,#ed870a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb944', endColorstr='#ed870a',GradientType=0 ); /* IE6-9 */
  border: 1px solid #ED870A;
  border-radius: 4px 4px 4px 4px;
  color: white !important;
  padding: 2px 10px 2px 10px !important;
  text-decoration: none;
  text-shadow:0 1px 1px #333333 !important;
  text-transform: capitalize !important;
  font-weight: normal;
  letter-spacing: 1px;
}

.billing-info-container .edit-profile-wrapper:hover {
  background: #BE6C08; /* Old browsers */
  background: -moz-linear-gradient(top,  #feb944 0%, #BE6C08 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb944), color-stop(100%,#BE6C08)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #feb944 0%,#BE6C08 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb944', endColorstr='#BE6C08',GradientType=0 ); /* IE6-9 */
  border: 1px solid #A9510D;
  text-shadow:0 1px 1px #666 !important;
}

.billing-info-container .edit-profile {
  display: block;
  line-height: 17px;
  text-align: left;
  padding-right: 20px;
  color: #FFF;
  text-decoration: none;
  font-size: 11px;
}


.billing-left {
  float: left;
  padding-right: 10px;
  width: 220px;
}











