#pid-user-me-edit {
	font-family: "GibsonRegular",Arial,sans-serif !important;
}

#pid-user-me-edit .grid16-12 {
	width:630px !important;
}
#section-title {
	color: #320001;
	font-size: 22px;
	margin-top: 14px;
	margin-left: 25px;
}

#pid-user-me-profile-profile #form-container fieldset,
#pid-user-me-edit #form-container fieldset {
	border: none !important;
	width: auto !important;
	margin: 0;
	padding: 0;
}
#pid-user-me-profile-profile #form-container fieldset.collabsible,
#pid-user-me-edit #form-container fieldset.collapsible {
	margin-top: 30px;
	margin-bottom: 20px;
}

#pid-user-me-profile-profile #form-container,
#pid-user-me-edit #form-container {
	border: 1px solid #DED6D3;
	padding: 20px 25px 30px ;
	margin: 0px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f0e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f0e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f0e9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f0e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f0e9',GradientType=0 ); /* IE6-9 */
}
#pid-user-me-profile-profile #form-container {
	padding: 0px 25px 30px 25px ; /* change the last number to 125 */
}
#pid-user-me-edit #form-container textarea,
#pid-user-me-edit #form-container input.form-text,
#pid-user-me-edit #form-container input.password-field {
  min-width: 160px !important;
  width: 160px !important;
	margin: 0 !important;
	padding: 2px 5px !important;
	background-color: #ffffff;
	box-shadow: none;
	height: 22px;
	border: 1px solid #DED6D3;
}

#pid-user-me-edit #form-container .form-item input.form-checkbox,
#pid-user-me-edit #form-container .form-item input.form-radio {
margin-right: 3px;
}

#pid-user-me-edit #form-container .form-item select {
margin-right: 3px;
}

#pid-user-me-edit fieldset .form-item label{
	font-weight: normal !important;
	color: #4F3921;
}

#pid-user-me-edit fieldset .form-item .description {
	color:#aaaaaa;
	margin: 5px 0 3px;
	line-height: 1.4em;
	font-size: 13px;
}

/*
#pid-user-me-edit-ms-core-billing-info #user-profile-billing-form #billing-information-form .form-item select {
	padding: 3px 0 !important;
	height: 26px;
	line-height: 1em;
	border-radius: 4px;
}

#user-profile-billing-form #credit-card-info-form-wrapper fieldset > legend,
#user-profile-billing-form #billing-info-form-wrapper fieldset > legend {
	font-weight: bold !important;
	font-size: 16px !important;
}

#edit-cc-exp-month-wrapper, #edit-cc-exp-year-wrapper {
	float: left;
	width: 50%;
}

#edit-cc-exp-year-wrapper {margin-top: 32px;}
#edit-cc-exp-month-wrapper select, #edit-cc-exp-year-wrapper select {
	min-width: 80%;
	width: 80%;
}

#edit-billing-zip-wrapper input {
	width: 160px;
	min-width: 160px;
}
*/







#pid-user-me-edit .theme-button {
	margin-right: 20px;
	margin-top: 20px;
}
#pid-user-me-edit .theme-button #edit-delete {
	letter-spacing: 1px;
	background-color: #A89884;
	padding: 8px 25px;
	border-radius: 4px;
	border: 1px solid #B0A39A;
	text-transform: none;
	text-shadow:0px 1px 1px #666 !important;
	background: #d4c8ba; /* Old browsers */
	background: -moz-linear-gradient(top, #a89884 0%, #d4c8ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a89884), color-stop(100%,#d4c8ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a89884 0%,#d4c8ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a89884', endColorstr='#d4c8ba',GradientType=0 ); /* IE6-9 *//* 	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent; */
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}
#pid-user-me-edit .theme-button #edit-delete:hover {
	letter-spacing: 1px;
	background-color: #A89884;
	padding: 8px 25px;
	border-radius: 4px;
	border: 1px solid #B0A39A;
	text-transform: none;
	text-shadow:0px 1px 1px #222 !important;
	background: #d4c8ba; /* Old browsers */
	background: -moz-linear-gradient(top, #a89884 0%, #d4c8ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a89884), color-stop(100%,#d4c8ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a89884 0%,#d4c8ba 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a89884 0%,#d4c8ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a89884', endColorstr='#d4c8ba',GradientType=0 ); /* IE6-9 *//* 	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent; */
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}
#pid-user-me-edit .theme-button #edit-delete:hover span span:hover {
	text-shadow:0px 1px 1px #333 !important;
}

#pid-user-me-edit .theme-button #edit-submit {
	background: #feb944; /* Old browsers */
	background: -moz-linear-gradient(top,  #feb944 0%, #ed870a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb944), color-stop(100%,#ed870a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feb944 0%,#ed870a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb944', endColorstr='#ed870a',GradientType=0 ); /* IE6-9 */
  border: 1px solid #ED870A;
  border-radius: 4px 4px 4px 4px;
  color: white !important;
  padding: 8px 25px !important;
  text-decoration: none;
  text-shadow:0 1px 1px #333333 !important;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 1px;
}
#pid-user-me-edit .theme-button #edit-submit:hover {
	background: #BE6C08; /* Old browsers */
	background: -moz-linear-gradient(top,  #feb944 0%, #BE6C08 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb944), color-stop(100%,#BE6C08)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feb944 0%,#BE6C08 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb944', endColorstr='#BE6C08',GradientType=0 ); /* IE6-9 */
  border: 1px solid #A9510D !important;
  border-radius: 4px 4px 4px 4px;
  color: white !important;
  padding: 8px 25px 8px 25px !important;
  text-decoration: none;
  text-shadow:0 1px 1px #666 !important;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 1px;
}
#pid-user-me-edit .theme-button #edit-delete span,
#pid-user-me-edit .theme-button #edit-delete span:hover,
#pid-user-me-edit .theme-button #edit-delete span:hover span,
#pid-user-me-edit .theme-button #edit-delete span span:hover,
#pid-user-me-edit .theme-button #edit-delete span span {
	margin: 0 !important;
	padding: 0 !important;
	background-color: transparent !important;
	border: none !important;
	text-transform: none !important;
	background: none !important;
	color: #ffffff !important;
}
#pid-user-me-edit .theme-button #edit-submit span,
#pid-user-me-edit .theme-button #edit-submit span:hover,
#pid-user-me-edit .theme-button #edit-submit span:hover span,
#pid-user-me-edit .theme-button #edit-submit span span:hover,
#pid-user-me-edit .theme-button #edit-submit span span {
	margin: 0 !important;
	padding: 0 !important;
	background-color: transparent !important;
	border: none !important;
	text-transform: none !important;
	background: none !important;
	color: #ffffff !important;
}