/*
 * Standard components like primary menu
 */
#primary-menu {
  position: relative;
  top: -21px;
}

#main-wrapper {
  position: relative;
  top: -21px;
  background-color: #fff;
}

.is-admin .main-group {
  /*top: 158px; */
}


.primary-menu-inner ul.sf-menu ul {
	margin-top:1px;
}

.pane-homepage-news-panel-pane-1,
.pane-homepage-news-panel-pane-2 {
  behavior: url('/sites/all/themes/proequest/css/PIE.htc');
  width: 300px;
  margin-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #DDD6D1;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #ded7ce 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(100%,#ded7ce)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* IE10+ */
  background: linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* W3C */
  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#ffded7ce);
}


.homepage-become-a-member {
	behavior: url('/sites/all/themes/proequest/css/PIE.htc');
	border-radius: .5em;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC6600 33%, endColorstr=#894501 67%);
}

ul.quicktabs-style-proequest {
	height: 27px !important;
	width: 620px !important;
	padding-right:0px !important;
}

ul.quicktabs-style-proequest li {
	width:122px !important;
	float: left;
}

ul.quicktabs-style-proequest li.last{
	width:125px !important;
	float: left;
}

.pane-quicktabs-featured-horses .pane-content {
  padding-top: 0px;
/*  margin-top: -18px;*/
}


.horse-discipline, .horse-location{font-weight: normal;}

.image-advertisement a img {
	float:left;
	width:auto;
	
}

.list-a-horse {
  position: relative;
  top: -14px;
}

.image-advertisement a img {
	float:left;
	width:auto;
}

/*
 * Nivo Slider
 */

.views-nivo-slider {width:630px !important;}

.nivo-caption {
  height: 50px;
  width: 630px !important;
}
  
.nivo-caption p {
  padding-top: 3px;
}


/*
 * Left column in two-col layouts
 */
 
.panel-2col-stacked-big-left .panel-col-first
{
  margin-left:0px;
}

/*
 * News pages
 */
.node-type-grandprix .news-body .advertisement img {
  padding-right:10px;
}

.view-news H2 {
  margin-top: 8px;
}

.pane-menu-menu-news-categories ul {
  display: block;
  clear: both;
  padding-left: 0px;
  padding-right: 0px;
}

.pane-menu-menu-news-categories ul li {
  display: block;                                       
  padding-left: 0px;
  padding-right: 0px;
  width: 300px;
  clear: both;
}

.pane-menu-menu-news-categories ul ul {
  left: 0px;
  top: 46px;
  padding-left: 0px;
  padding-right: 0px;
}

.pane-menu-menu-news-categories ul li li {
  display: block;
  float: left;
  width: 280px;
  padding-left: 20px;
  padding-right: 0px;
  margin-left: 0px;
  background: url("/sites/all/themes/proequest/images/menu-arrow-right.png") 20px center no-repeat #e7e6e2;
}

.pane-menu-menu-news-categories ul li li a {
}
 
