/*
 * Quicktabs - Proequest theme style
 */

#quicktabs-container_featured_horses {
  border:1px solid #d1d1d1; /* border taupe */
}

#quicktabs-featured_horses,
.quicktabs_main {
   width: 620px;
   font-size: 14px;
   font-family: "GibsonRegular", sans-serif;
   font-stretch: semi-expanded;
 }

.quicktabs_main.quicktabs-style-proequest {
  background-color:#fff;
  border-left:1px solid #d1d1d1; /* border taupe */
  border-right:1px solid #d1d1d1; /* border taupe */
  border-top:0px;
  padding: 0px;
  clear:both;
  background-color: #EAE9E4; /* light taupe */
  width: 619px;
}

ul.quicktabs_tabs.quicktabs-style-proequest {
  padding:0 5px 0 0;
  margin:0;
  width: 620px;
/*  background-color: #EAE9E4;  light taupe */
}

ul.quicktabs_tabs.quicktabs-style-proequest a {
  text-decoration:none;
  display: inline-block;
  width: 65px;
  padding: 0px;
}

ul.quicktabs_tabs.quicktabs-style-proequest a:hover{
  color: #fff !important; 
}

ul.quicktabs_tabs.quicktabs-style-proequest {
  color:#676766 !important;  /* dark grey for fonts unless overridden */
}

ul.quicktabs_tabs.quicktabs-style-proequest {
  height: 23px;
  border-bottom: 1px solid #322a21;
  width: 616px;
}

ul.quicktabs_tabs.quicktabs-style-proequest li {
  border-top:1px solid #d1d1d1; /* border taupe */
  border-left:1px solid #d1d1d1; /* border taupe */
  padding:6px 0px;
  margin:0 0px 0 0;
  background-color: #e0ded7; /* medium taupe */

  background-image: linear-gradient(bottom, #DED7CE 18%, #FFFFFF 80%);
  background-image: -o-linear-gradient(bottom, #DED7CE 18%, #FFFFFF 80%);
  background-image: -moz-linear-gradient(bottom, #DED7CE 18%, #FFFFFF 80%);
  background-image: -webkit-linear-gradient(bottom, #DED7CE 18%, #FFFFFF 80%);
  background-image: -ms-linear-gradient(bottom, #DED7CE 18%, #FFFFFF 80%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.18, #DED7CE),
    color-stop(0.8, #FFFFFF)
    );
}

ul.quicktabs_tabs.quicktabs-style-proequest li a {
    color:#676766;  /* dark grey for fonts unless overridden */
}


ul.quicktabs_tabs.quicktabs-style-proequest li:hover a {
  color: #322a21 !important;
}

ul.quicktabs_tabs.quicktabs-style-proequest li:hover {
  color: #322a21 !important;
}


ul.quicktabs_tabs.quicktabs-style-proequest li.active {
  border:1px solid #322a21;
  color: #fff;
  background: none;
  background-color: #322a21; /* brown */
}
ul.quicktabs_tabs.quicktabs-style-proequest li.active a {
  color: #fff !important;
}
