body {
overflow-x: hidden;
}

.primary-menu-inner {
  margin-top: 0px;
}

.user-menu {
  display: none;
  margin-left: 80px;
}

ul.menu {
padding-top:2px;
}

.homepage-become-a-member {
	margin-top:10px;
}

ul.menu .menu-down li {
	width:auto;
  text-align: center;
  padding: 0px;
}

ul.menu li ul.menu li a {
  padding-left: 0px;
  padding-right: 0px;
}

ul.menu .menu-down li a:hover {
	width:100%;
}

ul.menu li ul.menu {
	position: absolute !important;
	z-index: 100 !important;
  margin-top: -2px;
}

ul.quicktabs-style-proequest {
	height: 35px !important;
	width: 620px !important;
	padding-right:0px !important;
	margin-left:1px !important;
}

ul.quicktabs-style-proequest li {
	width:122px !important;
	float: left;
	/*padding:0px 2px 5px 2px !important;*/
}

ul.quicktabs-style-proequest li.last{
	width:125px !important;
	float: left;
	/*padding:0px 2px 5px 2px !important;*/
}

.pane-quicktabs-featured-horses .pane-content {
  padding-top: 0px;
  margin-top: -18px;
}


.view-id-featured_horses_homepage .view-content .views-row-1 {
	border-top: 1px solid #322a21 !important;
}


.pane-homepage-news-panel-pane-1,
.pane-homepage-news-panel-pane-2 {
  width: 300px;
  margin-top: 10px;
  padding-bottom: 10px;
  border: 1px solid
  #DDD6D1;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #ded7ce 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(100%,#ded7ce)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* IE10+ */
  background: linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ded7ce 100%); /* W3C */
  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#ffded7ce);
}

.homepage-become-a-member {
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC6600 33%, endColorstr=#894501 67%);
}
ul.quicktabs_tabs.quicktabs-style-proequest {
	margin: 20px 0 0 -14px;

}

ul.quicktabs_tabs.quicktabs-style-proequest li{
	width: 100%;
	min-height: 100%;
	padding: 12px 0;
	margin: 0;
}

.horse-discipline, .horse-location{font-weight: normal;}

.qtab-0, .qtab-1, .qtab-2, .qtab-3, .qtab-4, .qtab-5 {
	margin:0;
}
.homepage-social-icons .homepage-follow-facebook {
	margin-left: -340px;
	margin-top: 88px;
}

.homepage-social-icons .homepage-follow-twitter{
	margin-left: -380px;
	margin-top:88px;
}


.sf-menu ul {
 	z-index: 1000 !important;
 }

.image-advertisement a img {
	float:left;
	width:auto;
}

.nivo-controlNav {
	z-index: 1000 !important;
}

/*
 * Nivo Slider
 */

.nivo-caption {
  height: 50px;
  width: 630px !important;
}


.nivo-caption p {
  padding-top: 3px;
}

.views-nivo-slider {width:630px !important;}


/*
 * Front page
 */
.homepage-social-icons {
  left: 812px;
}

/*
 * Left column in two-col layouts
 * /news doesn't render correctly with these
 */

/*body.page-node #content-inner-inner,
body.page-news #content-inner-inner {
  margin-left:0px;
  padding-left: 0px;
}*/


/*
 *  News pages
 */

body.page-news h2.title {
  margin-top: 12px;
}

.node-type-grandprix .news-body .advertisement img {
  padding-right:10px;
}

.pane-menu-menu-news-categories ul {
  display: block;
  clear: both;
  padding-left: 0px;
  padding-right: 0px;
}

.pane-menu-menu-news-categories ul li {
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  width: 300px;
  clear: both;
}

.pane-menu-menu-news-categories ul ul {
  left: 0px;
  top: 46px;
  padding-left: 0px;
  padding-right: 0px;
}

.pane-menu-menu-news-categories ul li li {
  display: block;
  float: left;
  width: 260px;
  padding-left: 40px;
  padding-right: 0px;
  margin-left: 0px;
  background: url("/sites/all/themes/proequest/images/menu-arrow-right.png") 20px center no-repeat #e7e6e2;
}

.pane-menu-menu-news-categories ul li li a {
}

/*
 * Vendor pages
 */

.not-front.layout-main #content-inner-inner {
  padding-left: 0px;
}


#pid-vendors .vendor-table .vendor-cell {
  margin-right: 4px;
}


