/* $Id: twocol_stacked.css,v 1.1.2.1 2008/12/16 21:27:59 merlinofchaos Exp $ */

.panel-2col-stacked-big-left {
  width: 960px;
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-stacked-big-left .panel-col-top,
.panel-2col-stacked-big-left .panel-col-bottom {
  clear: both;
}

.panel-2col-stacked-big-left .panel-col-top .inside {
  margin-bottom: .5em;
}

.panel-2col-stacked-big-left .panel-col-first {
  float: left;
  width: 620px;
  padding-right: 0px;
}

/* Change size of left column for some pages */
#pid-vendors .panel-2col-stacked-big-left .panel-col-first {
  width: 630px;
  float: left;
}

* html .panel-2col-stacked-big-left .panel-col-first {
  width: 630px;
}

.panel-2col-stacked-big-left .panel-col-first .inside {
  margin: 0 10px 1em 0;
}

#pid-vendors .panel-2col-stacked-big-left .panel-col-first .inside {
  margin: 0 0 1em 0;
}

/* Change size of left column for some pages */
#pid-vendors .panel-2col-stacked-big-left .panel-col-first .inside {
}


.panel-2col-stacked-big-left .panel-col-last {
  float: left;
  margin-left: 14px;
}

#pid-vendors .panel-2col-stacked-big-left .panel-col-last {
  float: left;
  margin-left: 20px;
}
  
#pid-news .panel-2col-stacked-big-left .panel-col-last {
  float: left;
  margin-left: 6px;
}

.node-type-story .panel-2col-stacked-big-left .panel-col-last,
.node-type-grandprix .panel-2col-stacked-big-left .panel-col-last,
.node-type-endorsement .panel-2col-stacked-big-left .panel-col-last,
.page-news .panel-2col-stacked-big-left .panel-col-last {
  margin-left: 6px;
}

.page-node .panel-2col-stacked-big-left .panel-col-last {
  margin-left: 0px;
}

.panel-2col-stacked-big-left .panel-col-last .inside {
  margin: 0 0 1em 0em;
}

.panel-2col-stacked-big-left .panel-separator {
  margin: 0 0 1em 0;
}
