/* $Id: twocol_stacked.css,v 1.1.2.1 2008/12/16 21:27:59 merlinofchaos Exp $ */

.panel-2col-stacked-small-left {
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-stacked-small-left .panel-col-top,
.panel-2col-stacked-small-left .panel-col-bottom {
  width: 99.9%;
  clear: both;
}

.panel-2col-stacked-small-left .panel-col-top .inside {
  margin-bottom: .5em;
}

.panel-2col-stacked-small-left .panel-col-first {
  float: left;
  width: 310px;
  padding-right: 0px;
  margin-left: 18px;
}

* html .panel-2col-stacked-small-left .panel-col-first {
  width: 310px;
  margin-left: 18px;
}

.panel-2col-stacked-small-left .panel-col-first .inside {
  margin: 0 10px 1em 0;
}

.panel-2col-stacked-small-left .panel-col-last {
  float: left;
  width: 600px;
  margin-left: 14px;
}

.node-type-story .panel-2col-stacked-small-left .panel-col-last,
.node-type-grandprix .panel-2col-stacked-small-left .panel-col-last,
.node-type-endorsement .panel-2col-stacked-small-left .panel-col-last,
.page-news .panel-2col-stacked-small-left .panel-col-last {
  margin-left: 6px;
}

.page-node .panel-2col-stacked-small-left .panel-col-last {
  margin-left: 0px;
}

.panel-2col-stacked-small-left .panel-col-last .inside {
  margin: 0 0 1em 0em;
}

.panel-2col-stacked-small-left .panel-separator {
  margin: 0 0 1em 0;
}
