/*
 ** Horse Add/Edit Page Styling
 */
#content-tabs {
	clear: both;
}

/* GENERAL PAGE SETTINGS */
.node-type-horse, #pid-node-add-horse {
	font-family: "GibsonRegular",Arial,sans-serif;
}
#pid-node-add-horse #content-inner-inner {
	margin-left: 10px;
}
#horse-node-add-edit-form {
	padding: 0 10px;
}
#pid-node-add-horse #horse-node-add-edit-form {
	padding: 0px;
}
#horse-node-add-edit-form .form-item .form-radio, #horse-node-add-edit-form .form-item .form-checkbox {
	margin-right: 3px;
}

/* GENERAL TITLE SETTINGS */
#horse-node-add-edit-form #edit-title-wrapper {
	width: 360px;
}
#horse-node-add-edit-form #edit-title-wrapper label {
	font-weight: normal;
}
#horse-node-add-edit-form #edit-title-wrapper input.form-text {
	background-color: #ffffff;
	box-shadow: none;
	border: 1px solid #D5CCC4;
	height: 20px;
	padding-left: 7px;
}

/* SECTION FIELDSET SETTINGS */
#horse-node-add-edit-form .group-horse-discipline,
#horse-node-add-edit-form .group-horse-attributes,
#horse-node-add-edit-form .location,
#horse-node-add-edit-form .group-horse-images,
#horse-node-add-edit-form .group-horse-videos {
	border: none;
	margin:20px 0 0 0;
	padding: 0;
	width: 100%;
}
#horse-node-add-edit-form .location {
	margin:20px 0 20px 0;
}
#horse-node-add-edit-form .group-horse-images {
	width: 47.9% !important;
	float: left;
	margin-right: 2%;
}
#horse-node-add-edit-form .group-horse-videos {
	width: 47.9% !important;
	float: left;
	margin-left: 2%;
}



/* SECTION LEGEND SETTINGS */
#horse-node-add-edit-form .group-horse-discipline legend,
#horse-node-add-edit-form .group-horse-attributes legend,
#horse-node-add-edit-form .location legend,
#horse-node-add-edit-form .group-horse-images legend,
#horse-node-add-edit-form .group-horse-videos legend {
	margin: 0;
	padding: 0 0 2px;
	width: 100%;
	background-color: transparent;
	font-weight: bold;
	border-bottom: 1px solid #D5CCC4;
	color: #5A3E3B;
	font-size: 18px;
}
#horse-node-add-edit-form .location legend {
	margin-bottom: 10px;
}

#horse-node-add-edit-form .group-horse-images legend,
#horse-node-add-edit-form .group-horse-videos legend {
	width: 100%;
}

/* HORSE DISCIPLINE SETTINGS */
#horse-node-add-edit-form .group-horse-discipline {
	border: none;
	margin:20px 0 0 0;
	padding: 0;
	width: 100%;
}

#horse-node-add-edit-form .group-horse-discipline legend {
	margin: 0;
	padding: 0 0 2px;
	width: 100%;
	background-color: transparent;
	font-weight: bold;
	border-bottom: 1px solid #D5CCC4;
	font-family: "GibsonRegular",Arial,sans-serif;
	color: #5A3E3B;
	font-size: 16px;
}

#conditional-field-horse-discipline {
	width: 100%;
	float: left;
	clear: both;
}

#conditional-field-horse-hunters,
#conditional-field-horse-jumpers,
#conditional-field-horse-equitation,
#conditional-field-horse-ponies	{
	width: 25%;
	float: left;
	min-height: 210px;
}

#conditional-field-horse-dressage,
#conditional-field-horse-eventer {
	width: 50%;
	float: left;
	min-height: 220px;
}

#horse-node-add-edit-form .conditional-field > .form-item > label {
	border-bottom: 1px solid #D5CCC4;
	font-weight: bold;
	margin-left: 17px;
	margin-right: 20px;
}

#horse-node-add-edit-form	#conditional-field-horse-hunters .form-checkboxes .form-item,
#horse-node-add-edit-form	#conditional-field-horse-jumpers .form-checkboxes .form-item,
#horse-node-add-edit-form	#conditional-field-horse-equitation .form-checkboxes .form-item,
#horse-node-add-edit-form	#conditional-field-horse-ponies .form-checkboxes .form-item {
	width: 100%;
	float: left;
	margin: 3px 0 3px 0;
	padding: 0 0 0 0;
}

#horse-node-add-edit-form	#conditional-field-horse-dressage .form-checkboxes .form-item,
#horse-node-add-edit-form	#conditional-field-horse-eventer .form-checkboxes .form-item {
	width: 50%;
	float: left;
	margin: 3px 0 3px 0;
	padding: 0 0 0 0;
}
#horse-node-add-edit-form	#conditional-field-horse-hunters .form-item .form-select,
#horse-node-add-edit-form	#conditional-field-horse-jumpers .form-item .form-select,
#horse-node-add-edit-form	#conditional-field-horse-equitation .form-item .form-select,
#horse-node-add-edit-form	#conditional-field-horse-ponies .form-item .form-select {
	width: 84%;
	margin: 0px 20px 5px 17px;
	height: 140px;
	border: 1px solid #D5CCC4;
	border-top: 0px;
}

#horse-node-add-edit-form	#conditional-field-horse-dressage .form-item .form-select,
#horse-node-add-edit-form	#conditional-field-horse-eventer .form-item .form-select {
	width: 92%;
	margin: 0px 20px 5px 17px;
	height: 180px;
	border: 1px solid #D5CCC4;
	border-top: 0px;
}
#horse-node-add-edit-form #conditional-field-horse-discipline .form-item .description {
	clear: both;
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 0px;
}


/* HORSE ATTRIBUTE SETTINGS */

#horse-node-add-edit-form .quarter-box {
	width: 25%;
	float: left;
}
#horse-node-add-edit-form .half-box {
	width: 50%;
	float: left;
}
#horse-node-add-edit-form .full-box {
	width: 100%;
}

#horse-node-add-edit-form #field-horse-adtype .form-item > label,
#horse-node-add-edit-form #field-horse-breed #edit-field-horse-breed-value-wrapper > label,
#horse-node-add-edit-form #field-horse-age #edit-field-horse-age-value-wrapper > label,
#horse-node-add-edit-form #field-horse-sex #edit-field-horse-sex-value-wrapper > label,
#horse-node-add-edit-form #field-horse-height #edit-field-horse-height-value-wrapper > label,
#horse-node-add-edit-form #field-horse-price #edit-field-horse-price-value-wrapper > label {
	font-weight: bold;
	padding-bottom: 2px;
}
#horse-node-add-edit-form #field-horse-adtype .form-item label.option {
	font-weight: normal;
}
#horse-node-add-edit-form #field-horse-adtype {
 min-height: 160px;
}
	#field-horse-adtype #edit-field-horse-adtype-value-Lease-wrapper,
	#field-horse-adtype #edit-field-horse-adtype-value-Sale-wrapper {
    float: left;
    margin: -5px 0 10%;
    width: 40%;
 	}
#horse-node-add-edit-form #field-horse-breed,
#horse-node-add-edit-form #field-horse-age,
#horse-node-add-edit-form #field-horse-sex,
#horse-node-add-edit-form #field-horse-height,
#horse-node-add-edit-form #field-horse-price,
#horse-node-add-edit-form #field-horse-desc {
 min-height: 70px;
}

#horse-node-add-edit-form #field-horse-desc {
 min-height: 400px;
 clear: both;
 margin: 20px 0 0 0;
}
	#horse-node-add-edit-form #field-horse-desc .cke_skin_kama {
		border: none;
		padding: 0;
	}
	#horse-node-add-edit-form .group-horse-attributes .fieldset-wrapper ul.tips {
		margin: 0px !important;
	}
	#horse-node-add-edit-form .group-horse-attributes .collapsible legend.collapse-processed {
		margin: -21px 0 0 0px !important;
	}
	#horse-node-add-edit-form .group-horse-attributes .collapsible legend.collapse-processed a {
		text-decoration: none;
	}
	#horse-node-add-edit-form .group-horse-attributes .collapsible {
		margin: 30px 0 0 0px !important;
		background-color: transparent;
	}
	#edit-field-horse-desc-0-value-wrapper .resizable-textarea {width: 100%;}

#horse-node-add-edit-form .group-horse-attributes select {
  -moz-appearance: none;
  -webkit-appearance: none;
	background-color: #FFFFFF;
  border: 1px solid #D5CCC3;
  border-radius: 4px 4px 4px 4px;
  height: 27px;
  padding: 2px 0 2px 4px;
  width: 70%;
  font-size: 13px;
  margin-top: -2px;
}


/* HORSE LOCATION SETTINGS */
#horse-node-add-edit-form .location label {
	font-weight: bold;
	float: none;
}
#horse-node-add-edit-form .location label.option {
	font-weight: normal;
}

#horse-node-add-edit-form .location input.form-text {
	background-color: #ffffff;
	box-shadow: none;
	border: 1px solid #D5CCC4;
	height: 20px;
	padding-left: 7px;
	background-position: 100% 5px;
}
#horse-node-add-edit-form .location select {
  -moz-appearance: none;
  -webkit-appearance: none;
	background-color: #FFFFFF;
  border: 1px solid #D5CCC3;
  border-radius: 4px 4px 4px 4px;
  height: 27px;
  padding: 2px 0 2px 4px;
  width: 70%;
  font-size: 13px;
  margin-top: -2px;
}
#edit-field-horse-location2-0-street-wrapper {
	width: 30%;
	float: left;
	clear: both;
	margin: 0 0 10px 0;
	padding: 0;
}

#edit-field-horse-location2-0-city-wrapper {
	width: 30%;
	float: left;
	margin: 0 0 10px 0;
	padding: 0;
}

#edit-field-horse-location2-0-postal-code-wrapper {
	width: 30%;
	float: left;
	margin: 0 0 10px 0;
	padding: 0;
}

#edit-field-horse-location2-0-province-wrapper {
	width: 30%;
	float: left;
	margin: 0 0 10px 0;
	padding: 0;
	margin-left: 33%;
	margin-top: -62px;
}
#edit-field-horse-location2-0-country-wrapper {
	width: 30%;
	float: left;
	margin: 0 0 10px 0;
	padding: 0;
	margin-left: 33%;
	margin-top: -58px;
}



/* GENERAL PAGE TITLE SETTINGS | META TAGE PAGE TITLE */
#horse-node-add-edit-form #edit-page-title-wrapper {
	width: 70%;
	padding: 30px 0 20px 0;
	clear: both;
}
#horse-node-add-edit-form #edit-page-title-wrapper label {
	font-weight: normal;
}
#horse-node-add-edit-form #edit-page-title-wrapper input.form-text {
	background-color: #ffffff;
	box-shadow: none;
	border: 1px solid #D5CCC4;
	height: 20px;
	padding-left: 7px;
}


/* IMAGES AND VIDEO SETTINGS */

#horse-node-add-edit-form .group-horse-images .description,
#horse-node-add-edit-form .group-horse-videos .description {
	color:#aaaaaa;
}
#horse-node-add-edit-form .group-horse-images table,
#horse-node-add-edit-form .group-horse-videos table {
	width: 100% !important;
}
table#field_horse_image_values tr.even, table#field_horse_image_values tr.even td {
	background-color: #ffffff !important;
	border: none !important;
	padding: 7px 0 10px 0px;
	vertical-align: middle;
}
table#field_horse_image_values tr.odd, table#field_horse_image_values tr.odd td {
	background-color: #FAF9F7 !important;
	border: none !important;
	padding: 7px 0 10px 0px;
	vertical-align: middle;
}
table#field_horse_image_values tr.even > td,
table#field_horse_image_values tr.odd > td {
	padding: 7px 0 10px 10px;
}
table#field_horse_image_values .draggable a.tabledrag-handle,
table#field_horse_image_values .draggable a.tabledrag-handle {
	padding: 0 !important;
	margin: 0 !important;
}
table#field_horse_image_values tbody {
	border: none;
}
table#field_horse_image_values {
	margin-top: -10px;
}
table#field_horse_image_values tr.even td label,
table##field_horse_image_values tr.odd td label {
	font-weight: normal;
}
.group-horse-images table.sticky-header {
	position: absolute !important;
}
table#field_horse_image_values .tableHeader-processed,
table#field_horse_image_values .tableHeader-processed tr,
table#field_horse_image_values th {visibility: hidden;border: none; height: 0px;}
table#field_horse_image_values tr td .form-item .description {display: none; visibility: hidden;}
table#field_horse_image_values .filefield-element {margin: 2px 0px;}
table#field_horse_image_values .filefield-element .theme-button button span span {
	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent;
  border: 1px solid #ED870A;
  border-radius: 4px 4px 4px 4px;
  color: white !important;
  padding: 8px 14px !important;
  text-decoration: none;
  text-shadow:0 0px 1px #333333 !important;
	text-transform: none;
	font-weight: normal;
}
table#field_horse_image_values .filefield-element .widget-edit {
	max-width: 100% !important;
	min-width: auto !important;
	width: auto !important;
}
table#field_horse_image_values .filefield-element .widget-edit .form-item {
	margin: 8px 0;
}
table#field_horse_image_values input {
	background-color: #ffffff;
	box-shadow: none;
	border: 1px solid #D5CCC4;
	height: 20px;
	padding-left: 7px;
}
table#field_horse_image_values input.form-file {
margin-right: 10px;
padding: 7px 4px 6px
}
table#field_horse_image_values #edit-field-horse-image-0-filefield-remove,
table#field_horse_image_values #edit-field-horse-image-1-filefield-remove,
table#field_horse_image_values #edit-field-horse-image-2-filefield-remove,
table#field_horse_image_values #edit-field-horse-image-3-filefield-remove,
table#field_horse_image_values #edit-field-horse-image-4-filefield-remove,
table#field_horse_image_values #edit-field-horse-image-5-filefield-remove {
	margin-top: 23px;
}
table#field_horse_video_values tr.even, table#field_horse_video_values tr.even td {
	background-color: #ffffff !important;
	border: none !important;
	padding: 7px 0 10px 0px;
}

table#field_horse_video_values tr.odd, table#field_horse_video_values tr.odd td {
	background-color: #FAF9F7 !important;
	border: none !important;
	padding: 7px 0 10px 0px;
}
table#field_horse_video_values tr.even > td,
table#field_horse_video_values tr.odd > td {
	padding: 7px 0 10px 10px;
}
table#field_horse_video_values .draggable a.tabledrag-handle,
table#field_horse_video_values .draggable a.tabledrag-handle {
	padding: 0 !important;
	margin: 0 !important;
}
table#field_horse_video_values tbody {
	border: none;
}
table#field_horse_video_values {
	margin-top: -10px;
}
table#field_horse_video_values input {
	background-color: #ffffff;
	box-shadow: none;
	border: 1px solid #D5CCC4;
	height: 20px;
	padding-left: 7px;
}
table#field_horse_video_values tr.even td label,
table#field_horse_video_values tr.odd td label {
	font-weight: normal;
}
.group-horse-videos table.sticky-header {
	position: absolute !important;
}
table#field_horse_video_values .tableHeader-processed,
table#field_horse_video_values .tableHeader-processed tr,
table#field_horse_video_values th {visibility: hidden;border: none; height: 0px;}



/* SUBMIT BUTTONS */

#horse-node-add-edit-form .button {
	float: left;
	margin-right:20px;
}
#horse-node-add-edit-form #upper-buttons {
	float: right !important;
	width: 50% !important;
}

#horse-node-add-edit-form #upper-buttons .button {
	float: right;
}
#horse-node-add-edit-form #upper-buttons .submit-button,
#horse-node-add-edit-form #upper-buttons .delete-button,
#horse-node-add-edit-form #upper-buttons .cancel-button {
	float: right;
}
#horse-node-add-edit-form #upper-buttons .cancel-button {
	margin: 9px -3px 8px 0px !important;
}
#horse-node-add-edit-form .standard {
	margin-bottom: 30px;
}
#horse-node-add-edit-form #upper-buttons .button {
	margin:0 0 0 20px;
}
#horse-node-add-edit-form .cancel-button {
	float: left;
	margin: 8px 0px 8px -3px !important;
}
#horse-node-add-edit-form .delete-button {
	float: left;
}
#horse-node-add-edit-form .submit-button {
	float: left;
}
#horse-node-add-edit-form .cancel-button a {
	letter-spacing: 1px;
	background-color: #A89884;
	padding: 9px 25px 8px;
	border-radius: 4px;
	border: 1px solid #B0A39A;
	text-transform: none;
	text-shadow:0px 1px 1px #333;
	background: #d4c8ba; /* Old browsers */
	background: -moz-linear-gradient(top, #d4c8ba 0%, #a89884 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4c8ba), color-stop(100%,#a89884)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d4c8ba 0%,#a89884 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4c8ba', endColorstr='#a89884',GradientType=0 ); /* IE6-9 *//* 	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent; */
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}
#horse-node-add-edit-form .cancel-button a:hover {
/* #d4c8ba */
/* #a89884 */
	letter-spacing: 1px;
	background-color: #A89884;
	padding: 9px 25px;
	border-radius: 4px;
	border: 1px solid #B0A39A;
	text-transform: none;
	text-shadow:0px 1px 1px #666;
	background: #d4c8ba; /* Old browsers */
	background: -moz-linear-gradient(top, #d4c8ba 0%, #a89884 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4c8ba), color-stop(100%,#a89884)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d4c8ba 0%,#a89884 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4c8ba', endColorstr='#a89884',GradientType=0 ); /* IE6-9 *//* 	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent; */
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	}

#horse-node-add-edit-form .delete-button button {
	letter-spacing: 1px;
	background-color: #A89884;
	padding: 8px 25px;
	border-radius: 4px;
	border: 1px solid #B0A39A;
	text-transform: none;
	text-shadow:0px 1px 1px #333;
	background: #d4c8ba; /* Old browsers */
	background: -moz-linear-gradient(top, #d4c8ba 0%, #a89884 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4c8ba), color-stop(100%,#a89884)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d4c8ba 0%,#a89884 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4c8ba', endColorstr='#a89884',GradientType=0 ); /* IE6-9 *//* 	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent; */
	color: #fff;
	text-decoration: none;
}
#horse-node-add-edit-form .delete-button button:hover {
	letter-spacing: 1px;
	background-color: #A89884;
	padding: 8px 25px;
	border-radius: 4px;
	border: 1px solid #B0A39A;
	text-transform: none;
	text-shadow:0px 1px 1px #666 !important;
	background: #d4c8ba; /* Old browsers */
	background: -moz-linear-gradient(top, #d4c8ba 0%, #a89884 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4c8ba), color-stop(100%,#a89884)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d4c8ba 0%,#a89884 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d4c8ba 0%,#a89884 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4c8ba', endColorstr='#a89884',GradientType=0 ); /* IE6-9 *//* 	background: -moz-linear-gradient(center top , #FEB944, #ED870A) repeat scroll 0 0 transparent; */
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	}
#horse-node-add-edit-form .delete-button button span,
#horse-node-add-edit-form .delete-button button span span {
	margin: 0px !important;
	padding: 0px !important;
	background: none !important;
	color: #fff !important;
	border: none !important;
	font-weight: normal;
	text-shadow: none;
}

#horse-node-add-edit-form .submit-button button {
	background: #feb944; /* Old browsers */
	background: -moz-linear-gradient(top,  #feb944 0%, #ed870a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb944), color-stop(100%,#ed870a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feb944 0%,#ed870a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feb944 0%,#ed870a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb944', endColorstr='#ed870a',GradientType=0 ); /* IE6-9 */
  border: 1px solid #ED870A;
  border-radius: 4px 4px 4px 4px;
  color: white !important;
  padding: 8px 25px !important;
  text-decoration: none;
  text-shadow:0 1px 1px #333333 !important;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 1px;
}
#horse-node-add-edit-form .submit-button button:hover {
/* #feb944 */
/* #ed870a */
	background: #BE6C08; /* Old browsers */
	background: -moz-linear-gradient(top,  #feb944 0%, #BE6C08 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb944), color-stop(100%,#BE6C08)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feb944 0%,#BE6C08 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feb944 0%,#BE6C08 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb944', endColorstr='#BE6C08',GradientType=0 ); /* IE6-9 */
  border: 1px solid #A9510D !important;
  border-radius: 4px 4px 4px 4px;
  color: white !important;
  padding: 8px 25px 8px 25px !important;
  text-decoration: none;
  text-shadow:0 1px 1px #666 !important;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 1px;
}
#horse-node-add-edit-form .submit-button button span,
#horse-node-add-edit-form .submit-button button span span {
	margin: 0px !important;
	padding: 0px !important;
	background: none !important;
	color: #fff !important;
	border: none !important;
	text-shadow: 0px 1px 1px #333 !important;
	font-weight: normal;
}
#horse-node-add-edit-form .submit-button button:hover span,
#horse-node-add-edit-form .submit-button button span:hover span {
	text-shadow: 0px 1px 1px #333 !important;
}

#horse-node-add-edit-form span.theme-button,
#horse-node-add-edit-form span.theme-button button > span {
	box-shadow: none !important;
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
	background-color: transparent !important;
}
#horse-node-add-edit-form span.theme-button

.location input.form-autocomplete {
	background-position: 100% 6px !important;
}
