/* $Id: twocol.css,v 1.1.2.1 2008/12/16 21:27:58 merlinofchaos Exp $ */

.panel-2col-homepage {
/*  overflow: hidden;  */
}

.panel-2col-homepage .panel-col-first {
  float: left;
  width: 384px;
}
* html .panel-2col-homepage .panel-col-first {
  width: 382px;
}

.panel-2col-homepage .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}

.panel-2col-homepage .panel-col-last {
  float: left;
  width: 160px;
  padding-left: 0px !important;
  margin-left: 20px;
}

* html .panel-2col-homepage .panel-col-last {
  width: 158px;
}

.panel-2col-homepage .panel-col-last .inside {
  margin: 0px;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col-homepage .panel-separator {
  margin: 0 0 1em 0;
}
